node_modules
bower_components
.tmp
e2e
gulp
src
build.sh
sync.sh
gulpfile.js
index.html
karma.conf.js
package*.json
protractor.conf.js
.DS_Store
.bowerrc
.editorconfig
.eslintrc
.gitignore
.yo-rc.json



!dist/bower_components
!dist/*.html
!dist/*.js
!dist/*.css
!dist/*.png
!dist/*.jpg

