<div class="container"  data-ng-controller="DepartTroncController as dt">

<!-- Nav Bar -->
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

<div class="container">

  <div class="panel panel-primary">
    <div class="panel-heading">Départ Tronc</div>
  </div>


  <div class="">
    <div class="well">
      <form novalidate  name="departTroncForm">
        <div class="row">
          <div class="col-md-4">

            <qr-scanner
              ng-success="departTronc.qrCodeScanOnSuccess(data)"
                ng-error="departTronc.qrCodeScanOnError(error)"
          ng-video-error="departTronc.qrCodeScanOnVideoError(error)"
                   width="320"
                  height="200"/>

            <span ng-bind="departTronc.decodedData"></span>
          </div>

          <div class=" col-md-4">
            <div class="form-group" ng-class="{'has-error':departTroncForm.troncId.$invalid}">
              <label for="troncId" class="control-label">Id Tronc</label>
              <input
                id="troncId"
                type="text"
                ng-model="departTronc.current.tronc"
                placeholder="Scanner le QRCode du tronc"
                uib-typeahead="tronc as tronc.stringView for tronc in dt.searchTronc($viewValue)"
                typeahead-loading="loadingTroncs"
                typeahead-no-results="noTroncsResults"
                typeahead-wait-ms="20"
                class="form-control"
                ng-required
                autocomplete="off">
              <i   ng-show="loadingTroncs" class="glyphicon glyphicon-refresh"></i>
              <div ng-show="noTroncResults">
                <i class="glyphicon glyphicon-remove"></i> Aucun Tronc trouvé
              </div>

              <span class="help-block">Scan QR Code, avec mode secours saisie manuelle</span>
            </div>
            <div class="form-group">
              <label for="lieuDeQuete" class="control-label">Lieu de Quête</label>
              <select name="lieuDeQuete" id="lieuDeQuete" class="form-control" ng-model="departTronc.current.tronc_queteur.point_quete.id" disabled>
                <option value=""></option>
                <option ng-repeat="pointQuete in dt.current.pointsQuete" value="{{::pointQuete.id}}">{{::pointQuete.code}} - {{::pointQuete.name}}</option>
              </select>
            </div>
          </div>
          <div class=" col-md-4">

            <div class="form-group" ng-class="{'has-error':departTroncForm.horaireDepartTheorique.$invalid}">
              <label for="horaireDepartTheorique" class="control-label">Horaire Théorique de Départ</label>
              <input name="horaireDepartTheorique" id="horaireDepartTheorique" type="datetime-local" class="form-control" ng-model="departTronc.current.tronc_queteur.depart_theorique"  readonly/>
              <span class="help-block">C'est l'horaire qui avait été planifié</span>
              <span class="help-block" ng-show="departTroncForm.horaireDepartTheorique.$error.required">Required</span>
            </div>

            <div class="form-group" ng-class="{'has-error':departTroncForm.depart.$invalid}">
              <label for="depart" class="control-label">Horaire Départ Réel</label>
              <input name="depart" id="depart" type="datetime-local" class="form-control" ng-model="departTronc.current.tronc_queteur.depart"  readonly/>
              <span class="help-block" ng-show="departTroncForm.depart.$error.required">Required</span>
            </div>
          </div>
        </div>
        <div class="row" ng-show="departTronc.current.tronc_queteur" style="vertical-align: middle;">
          <div class="col-md-8 col-md-offset-4">
            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true" style="font-size:40px;color:green;"></span> <b>{{departTronc.current.tronc_queteur.queteur.first_name}} {{departTronc.current.tronc_queteur.queteur.last_name}}</b> est <span ng-show="departTronc.current.tronc_queteur.departAlreadyRegistered">déjà</span> enregistré comme parti le {{departTronc.current.tronc_queteur.depart}}
          </div>
        </div>



      </form>
    </div>
  </div>


</div>
</div>
