
<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

<div class="container" data-ng-controller="QueteurEditController as queteur">

  <div class="panel panel-primary">
    <div class="panel-heading">Un Quêteur:  <b><span ng-bind="queteur.current.first_name"></span> <span ng-bind="queteur.current.last_name"></span></b></div>

   </div>

  <div class="well">
    <form novalidate ng-submit='queteur.save(queteur.current);' name="queteurForm">


      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <div class="form-group" ng-class="{'has-error':queteurForm.first_name.$invalid}">
            <label for="first_name" class="control-label">First name</label>
            <input name="first_name" id="first_name" class="form-control" ng-model="queteur.current.first_name" required ng-blur="queteur.capitalize($event)"/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" ng-class="{'has-error':queteurForm.last_name.$invalid}">
            <label for="last_name" class="control-label">Last name</label>
            <input name="last_name" id="last_name" class="form-control" ng-model="queteur.current.last_name" required ng-blur="queteur.capitalize($event)"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <div class="form-group" ng-class="{'has-error':queteurForm.man.$invalid}">
            <label for="manRadio1" class="control-label">Sexe</label>  <br/>
            <label class="radio-inline">
              <input type="radio" name="man" id="manRadio1" ng-model="queteur.current.man" value="1" required> Homme
            </label>
            <label class="radio-inline">
              <input type="radio" name="man" id="manRadio2" ng-model="queteur.current.man" value="0" required> Femme
            </label>
          </div>
        </div>

        <div class="form-group col-md-4" ng-class="{'has-error':queteurForm.birthdate.$invalid}">
          <label for="birthdate" class="control-label">Date de naissance</label>
          <div class="input-group">
            <span class="input-group-addon" ng-class="{'majeur':queteur.current.age>=18, 'mineur':queteur.current.age<18}">{{queteur.current.age}}</span>
            <input name="birthdate" id="birthdate"
                   type="date"
                   class="form-control"
                   required
                   ng-model="queteur.current.birthdate"
                   ng-min="queteur.oldestBirthDate"
                   ng-max="queteur.youngestBirthDate"
                   ng-change="queteur.computeAge()"/>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2">

          <div class="form-group" ng-class="{'has-error':queteurForm.email.$invalid}">
            <label for="email" class="control-label">Email</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">@</span>
              <input name="email" id="email" class="form-control" type="email" ng-model="queteur.current.email" required/>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" ng-class="{'has-error':queteurForm.active.$invalid}">
            <label for="activeRadio1" class="control-label">Actif</label> <br/>
            <label class="radio-inline">
              <input type="radio" name="active" id="activeRadio1" ng-model="queteur.current.active" value="1" required> Oui
            </label>
            <label class="radio-inline">
              <input type="radio" name="active" id="activeRadio2" ng-model="queteur.current.active" value="0" required> Non
            </label>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <div class="form-group">
            <label for="secteur" class="control-label">Secteur</label>
            <select name="secteur" id="secteur" class="form-control" ng-model="queteur.current.secteur" required>
              <option value="1">Action Sociale</option>
              <option value="2">Secours</option>
              <option value="3">Non Bénévole</option>
              <option value="4">Ancien Bénévole, Inactif ou Adhérent</option>
              <option value="5">Commerçant</option>
              <option value="6">Special</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="ul_id" class="control-label">Unité Locale</label>
            <select name="ul_id" id="ul_id" class="form-control" ng-model="queteur.current.ul_id" required>
              <option value="{{queteur.ulId}}" selected>{{::queteur.ulName}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <div class="form-group" ng-class="{'has-error':queteurForm.mobile.$invalid}">
            <label for="mobile" class="control-label">Téléphone</label>
            <div class="input-group">
              <span class="input-group-addon glyphicon glyphicon-phone-alt" aria-hidden="true" id="basic-addon2" style="top:0px;">&nbsp;+</span>
              <input name="mobile" id="mobile" class="form-control"  type="number" ng-model="queteur.current.mobile" required ng-pattern="'33[6-7][0-9]{8,8}'" />
            </div>
            <span class="help-block" ng-show="queteurForm.mobile.$invalid">Format : +33601020304 <br/><sub>(seul les numéros français sont autorisés)</sub><br/>Si le quêteur n'a pas de mobile, mettre le téléphone de son parrain.</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" ng-class="{'has-error':queteurForm.nivol.$invalid}" ng-show="queteur.current.secteur == 1 || queteur.current.secteur == 2 || queteur.current.secteur == 4">
            <label for="nivol" class="control-label">NIVOL</label>
            <input name="nivol" id="nivol" class="form-control"
                   ng-model="queteur.current.nivol"
                   ng-required="queteur.current.secteur >= 1 && queteur.current.secteur <= 3"
                   ng-pattern="'[1-9][0-9]{3,6}[A-Z]'"
            />
            <span class="help-block" ng-show="queteurForm.nivol.$invalid">NIVOL : Numéro d'Identifiant VOLontaire.<br/> <sub>Mettre 1000A si inconnu<br/> (mais faites un effort quand même pour le trouver)</sub></span>
          </div>

          <div class="form-group" ng-class="{'has-error':queteurForm.referent_volunteer.$invalid}" ng-show="queteur.current.secteur == 3"> <!-- Non Bénévole -->
            <label for="referent_volunteer" class="control-label">Bénévole Référent</label>

            <input
              id="referent_volunteer"
              name="referent_volunteer"
              type="text"
              ng-model="queteur.current.referent_volunteerQueteur"
              placeholder="Scanner le QRCode de la carte du quêteur"
              uib-typeahead="queteur as queteur.full_name for queteur in queteur.searchQueteur($viewValue)"
              typeahead-loading="loadingQueteurs"
              typeahead-no-results="noResults"
              typeahead-wait-ms="20"
              class="form-control"
              ng-required="queteur.current.secteur == 3"
              autocomplete="off"/>
            <i   ng-show="loadingQueteurs" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noResults">
              <i class="glyphicon glyphicon-remove"></i> Aucun Queteur trouvé
            </div>


            <span class="help-block" ng-show="queteurForm.referent_volunteer.$invalid">Indiquer le bénévole qui amène ce quêteur d'un jour<br/><sub>Recherche par nom, prénom, NIVOL</sub></span>

            {{queteur.current.referent_volunteer}}
          </div>


        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <div class="form-group" ng-show="queteur.current.secteur >= 3 ">
            <label for="temporary_volunteer_form" class="control-label">Formulaire du Quêteur occasionel</label>
            <input type="file" name="temporary_volunteer_form" id="temporary_volunteer_form"/>
            <span class="help-block">Scanner le formulaire de bénévole occasionnel et ajouter le fichier ici</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" ng-show="queteur.current.secteur >= 3 && queteur.current.age < 18 ">
            <label for="parent_authorization" class="control-label">Authorisation Parentale</label>
            <input type="file" name="parent_authorization" id="parent_authorization"/>
            <span class="help-block">Scanner l'autorisation parentale et ajouter le fichier ici</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <div class="form-group">
            <label for="notes" class="control-label">Notes</label>
            <textarea rows="6" name="notes" id="notes" class="form-control" ng-model="queteur.current.notes"></textarea>
            <span class="help-block">Info importantes sur le quêteurs, ex: Allergie, Diabétique, Asmathique, Contraintes horaires etc...</span>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4 col-md-offset-2">

          <div class="form-group" ng-show="queteur.current.id">
            <label for="created" class="control-label">Créé le</label>
            <input name="created" id="created" class="form-control" ng-model="queteur.current.created" readonly/>
          </div>
        </div>
        <div class="col-md-4">

          <div class="form-group"ng-show="queteur.current.id">
            <label for="updated" class="control-label">Mise à jour le</label>
            <input name="updated" id="updated" class="form-control" ng-model="queteur.current.updated" readonly/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 col-md-offset-2">
          <a ng-href="#/list" class="btn btn-link">Cancel</a>
        </div>
        <div class="col-md-2 col-md-offset-5">
          <input type="submit" class="btn btn-primary" value="Save" ng-disabled="queteurForm.$invalid" />

        </div>
      </div>



      <div class="row" ng-show="queteur.current.id > 0" style="padding-top:20px;">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Listes des troncs ({{::queteur.current.troncs_queteur.length}}) de <b><span ng-bind="::queteur.current.first_name"></span> <span ng-bind="queteur.current.last_name"></span></b></div>

          <table class='table'>
            <thead>
              <tr>
                <th>ID (click to edit)</th>
                <th>départ Théorique</th>
                <th>départ</th>
                <th>retour</th>
                <th>durée(min)</th>
                <th>point_quete id</th>
                <th>Montant</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="tq in queteur.current.troncs_queteur">
                <th><a ng-href="/#!/tronc_queteur/edit/{{::tq.id}}">{{::tq.id}}</a></th>
                <td>{{::tq.depart_theorique.toDate() | date : 'dd/MM/yyyy HH:mm:ss'}} </td>
                <td>{{::tq.depart.toDate()           | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{::tq.retour.toDate()           | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{::tq.duration.toFixed(2)}}</td>
                <td>{{::tq.point_quete_id}}</td>
                <td>

                  {{(tq.euro500 * 500 + tq.euro200 * 200 + tq.euro100 * 100 + tq.euro50  * 50  + tq.euro20  * 20  + tq.euro10 * 10   + tq.euro5  * 5    +
                  tq.euro2   * 2   + tq.euro1   * 1   + tq.cents50 * 0.5 + tq.cents20 * 0.2 + tq.cents10 * 0.1 + tq.cents5 * 0.05 + tq.cents2 * 0.02 + tq.cent1 * 0.01).toFixed(2)}}
                  €
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </form>
  </div>

</div>
</div>
