
<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

<div class="container">

  <div class="jumbotron">
    <h1>Les Quêteurs</h1>
    <p>Taking care of your people, one at a time.</p>
  </div>


  <div class="col-xs-12" data-ng-controller="QueteurEditController as queteur">
    <div class="well">
      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
          <form novalidate ng-submit='queteur.save();' name="queteurForm">
            <div class="form-group" ng-class="{'has-error':queteurForm.firstName.$invalid}">
              <label for="firstName" class="control-label">First name</label>
              <input name="firstName" id="firstName" class="form-control" ng-model="queteur.current.firstName" required />
              <span class="help-block" ng-show="queteurForm.firstName.$error.required">Required</span>
            </div>
            <div class="form-group" ng-class="{'has-error':queteurForm.lastName.$invalid}">
              <label for="lastName" class="control-label">Last name</label>
              <input name="lastName" id="lastName" class="form-control" ng-model="queteur.current.lastName" required/>
              <span class="help-block" ng-show="queteurForm.lastName.$error.required">Required</span>
            </div>
            <div class="form-group">
              <label for="secteur" class="control-label">Secteur</label>
              <select name="secteur" id="secteur" class="form-control" ng-model="queteur.current.secteur" required>
                <option value="1">Action Sociale</option>
                <option value="2">Secours</option>
                <option value="3">Hybride</option>
                <option value="4">Extérieur</option>
                <option value="5">Lycéen</option>
              </select>
            </div>

            <div class="form-group" ng-class="{'has-error':queteurForm.nivol.$invalid}" ng-show="queteur.current.secteur >= 1 && queteur.current.secteur <= 4">
              <label for="nivol" class="control-label">NIVOL</label>
              <input name="nivol" id="nivol" class="form-control" ng-model="queteur.current.nivol" ng-required="queteur.current.secteur >= 1 && queteur.current.secteur <= 3"/>
              <span class="help-block" ng-show="queteurForm.lastName.$error.required">Required</span>
              <span class="help-block">Si Extérieur et bénévole Croix Rouge, saisir son NIVOL, sinon laisser vide</span>
            </div>

            <div class="form-group" ng-show="queteur.current.secteur > 3 ">
              <label for="parentAuthorization" class="control-label">Authorisation Parentale</label>
              <input type="file" name="parentAuthorization" id="parentAuthorization"/>
              <span class="help-block">Scanner l'autorisation parentale et ajouter le fichier ici</span>
            </div>

            <div class="form-group" ng-show="queteur.current.secteur > 3 ">
              <label for="temporaryVolunteerForm" class="control-label">Formulaire du Quêteur occasionel</label>
              <input type="file" name="temporaryVolunteerForm" id="temporaryVolunteerForm"/>
              <span class="help-block">Scanner le formulaire de bénévole occasionnel et ajouter le fichier ici</span>
            </div>

            <div class="form-group" ng-class="{'has-error':queteurForm.mobile.$invalid}">
              <label for="mobile" class="control-label">Téléphone</label>
              <input name="mobile" id="mobile" class="form-control" ng-model="queteur.current.mobile" required ng-pattern="/^0[6-7][0-9]{8,8}$/" />
              <span class="help-block">Si le quêteur n'a pas de mobile, mettre le téléphone de son parrain</span>
              <span class="help-block" ng-show="queteurForm.mobile.$error.pattern">Le format doit être 0601020304 ou 0601020304</span>
            </div>

            <div class="form-group">
              <label for="notes" class="control-label">Notes</label>
              <textarea rows="6" name="notes" id="notes" class="form-control" ng-model="contact.current.notes"></textarea>
              <span class="help-block">Info importantes sur le quêteurs, ex: Allergie, Diabétique, Asmathique, Contraintes horaires etc...</span>
            </div>

            <div class="form-group">
              <input type="submit" class="btn btn-primary" value="Save" ng-disabled="queteurForm.$invalid" />
              <a ng-href="#/list" class="btn btn-link">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
</div>
