<acme-navbar></acme-navbar>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-9">
          <h5>
            Un Quêteur: <span ng-bind="queteur.current.id"></span>
            <span ng-show="queteur.current.first_name"> - </span>
            <b>
              <span ng-bind="queteur.current.first_name"></span>
              <span ng-bind="queteur.current.last_name"></span>
              <span ng-show="queteur.current.nivol"> - </span>
              <span ng-bind="queteur.current.nivol"></span>
            </b>
          </h5>
        </div>
        <div class="col-md-2">
          <input type="button" class="btn btn-info" value="Créer un nouveau quêteur" ng-show="queteur.current.id > 0 " ng-click="queteur.createNewQueteur()"/>
        </div>

      </div>
    </div>
  </div>
  <div class="alert alert-success" role="alert">
    <div class="row">
      <div  class="col-md-6">
        <strong>FLASH INFO - Données Personnelles - </strong>
        <p>
          Vous visualisez / éditez des données à caractère personnel :
        <ul>
          <li>Ne modifiez pas les informations de la personne sans son accord explicite</li>
          <li>N'utilisez ces informations que pour un besoin opérationel de la quête</li>
          <li>Ne partagez pas ces données avec un tiers</li>
          <li>Pensez à vous déconnecter de RedCrossQuest quand vous quittez l'ordinateur</li>
          <li>Ne partagez pas vos login/password avec un tiers</li>
        </ul>
        <p>
          ci-contre, une vidéo de sensibilisation ! A voir ! <small>(Blague Monsieur/Madame ont un enfant)</small>
        </p>
      </div>
      <div  class="col-md-6">
        <video width="480" height="180" poster="assets/images/preview.png" controls ng-cloak>
          <source src="{{queteur.rgpdVideoUrl}}"  type="video/mp4">
          Votre navigateur ne supporte pas les vidéos.
        </video>
        <br/>
        <small>Source: <a href="//www.dailymotion.com/video/x2eppuf" target="_blank">Dailymotion - Tulipe & Cie pour ADP</a></small>
      </div>
    </div>
  </div>
  <div class="well">
    <form novalidate name="queteurForm">
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <div class="form-group">
            <label for="secteur" class="control-label">Secteur</label>
            <select name="secteur"
                      id="secteur"
                   class="form-control"
                ng-model="queteur.current.secteur"
             ng-required="true"
              ng-options="(r.id) as r.label
                      for
                      r in queteur.typeBenevoleList"
                    autofocus

            >
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" ng-class="{'has-error':queteurForm.nivol.$invalid}" ng-show="queteur.current.secteur == 1 || queteur.current.secteur == 2 || queteur.current.secteur == 4">
            <label for="nivol" class="control-label">NIVOL</label>
            <input     name="nivol"
                       id="nivol"
                       class="form-control"
                       ng-model="queteur.current.nivol"
                       ng-required="queteur.current.secteur == 1 || queteur.current.secteur == 2 || queteur.current.secteur == 4"
                       ng-pattern="'[1-9][0-9]{3,11}[A-Z]'"
                       ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                       ng-change="queteur.searchSimilar();"
            />
            <span class="help-block" ng-show="queteurForm.nivol.$invalid">NIVOL : Numéro d'Identifiant VOLontaire.<br/> <sub>Mettre 1000A si inconnu<br/> (mais faites un effort quand même pour le trouver)</sub></span>
          </div>
          <div class="form-group" ng-class="{'has-error':queteurForm.referent_volunteer.$invalid}" ng-show="queteur.current.secteur == 3"> <!-- Non Bénévole -->
            <label for="referent_volunteer" class="control-label">Bénévole Référent</label>
            <input
              id="referent_volunteer"
              name="referent_volunteer"
              type="text"
              ng-model="queteur.current.referent_volunteerQueteur"
              placeholder="Taper le nom, prénom ou NIVOL du référent"
              uib-typeahead="queteur as queteur.full_name for queteur in queteur.searchQueteur($viewValue)"
              typeahead-loading="loadingQueteurs"
              typeahead-no-results="noResults"
              typeahead-wait-ms="20"
              class="form-control"
              ng-required="queteur.current.secteur == 3"
              autocomplete="off"
            />
            <i   ng-show="loadingQueteurs" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noResults">
              <i class="glyphicon glyphicon-remove"></i> Aucun Queteur trouvé
            </div>
            <span class="help-block" ng-show="queteurForm.referent_volunteer.$invalid">Indiquer le bénévole qui amène ce quêteur d'un jour<br/><sub>Recherche par nom, prénom, NIVOL</sub> S'il n'y en a pas, mettre le président de l'UL.</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <div class="form-group" ng-class="{'has-error':queteurForm.first_name.$invalid}">
            <label for="first_name" class="control-label">Prénom</label>
            <input
                name="first_name"
                id="first_name"
                class="form-control"
                ng-model="queteur.current.first_name"
                required
                autocomplete="given-name"
                ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                ng-change="queteur.searchSimilar();"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" ng-class="{'has-error':queteurForm.last_name.$invalid}">
            <label for="last_name" class="control-label">Nom</label>
            <input name="last_name"
                   id="last_name"
                   class="form-control"
                   ng-model="queteur.current.last_name"
                   required
                   autocomplete="name"
                   ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                   ng-change="queteur.searchSimilar();"

            />
          </div>
        </div>
      </div>
      <div class="row" ng-show="queteur.current.similarQueteurs.length > 0">
        <div class="panel panel-warning">
          <div class="panel-heading"><b>Attention aux doublons !</b> Voici les quêteurs&nbsp;<u>déjà</u>&nbsp;en base de données et similaire à la saisie, s'il existe déjà ne pas le recréer, ça ferait un doublon!</div>
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Prénom</th>
              <th>Nom</th>
              <th>Nivol</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Actif ?</th>
              <th ng-show="queteur.isRegistration">Associer cette inscription <br/>avec le quêteur existant ?</th>
            </tr>
            </thead>
            <tbody>
              <tr ng-repeat="sim in queteur.current.similarQueteurs" ng-click="queteur.isRegistration?null:queteur.goToQueteur(sim.id);">
                <th scope="row">{{sim.id}}</th>
                <td style="{{queteur.isEqual(sim.first_name, queteur.current.first_name)?'background-color:#FFFF00':''}}">{{sim.first_name}}</td>
                <td style="{{queteur.isEqual(sim.last_name , queteur.current.last_name )?'background-color:#FFFF00':''}}">{{sim.last_name}}</td>
                <td style="{{queteur.isEqual(sim.nivol     , queteur.current.nivol     )?'background-color:#FFFF00':''}}">{{sim.nivol}}</td>
                <td>{{sim.mobile}}</td>
                <td>{{sim.email}}</td>
                <td>{{sim.active == 1 ? 'Oui':'Non'}}</td>
                <td ng-show="queteur.isRegistration">
                  <a  ng-click="queteur.associateRegistrationWithExistingQueteur(sim.id);" class="btn btn-success" style="font-size: 10px;">Valider l'inscription et l'associer à ce quêteur</a>
                  <span ng-show="sim.active != 1"><br/>
                    <small style="color: silver;">La fiche du quêter sera réactivée</small>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <div class="form-group" ng-class="{'has-error':queteurForm.man.$invalid}">
            <label for="manRadio1" class="control-label">Sexe</label>  <br/>
            <label class="radio-inline">
              <input type="radio" name="man" id="manRadio1" ng-model="queteur.current.man" ng-value="true" required> Homme
            </label>
            <label class="radio-inline">
              <input type="radio" name="man" id="manRadio2" ng-model="queteur.current.man" ng-value="false" required> Femme
            </label>
          </div>
        </div>
        <div class="form-group col-md-4" ng-class="{'has-error':queteurForm.birthdate.$invalid}">
          <label for="birthdate" class="control-label">Date de naissance</label>
          <div class="input-group">
            <span class="input-group-addon" ng-class="{'majeur':queteur.current.age>=18, 'mineur':queteur.current.age<18}">{{queteur.current.age}}</span>
            <input name="birthdate" id="birthdate"
                   type="date"
                   class="form-control"
                   required
                   ng-model="queteur.current.birthdate"
                   ng-min="queteur.oldestBirthDate"
                   ng-max="queteur.youngestBirthDate"
                   ng-change="queteur.computeAge()"/>
          </div>
          <span class="help-block" ng-show="queteurForm.birthdate.$invalid">La date de naissance n'est utilisée que pour savoir si la personne est majeure ou non. La date exacte n'est importante que pour les mineurs.</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <div class="form-group" ng-class="{'has-error':queteurForm.email.$invalid}">
            <label for="email" class="control-label">Email</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">@</span>
              <input
                    name="email"
                      id="email"
                    class="form-control"
                     type="email"
                 ng-model="queteur.current.email"
                required
                autocomplete="email"/>

              <!--  ng-pattern="queteur.current.user.id>0 && queteur.current.user.active?'^[a-zA-Z0-9-]+\.[a-zA-Z0-9-]+@croix-rouge.fr$':''" -->
            </div>
            <span class="help-block" ng-show="queteurForm.email.$invalid">L'email est obligatoire.<!-- br/> <strong>Si</strong> le Quêteur va être aussi un utilisateur de l'application RedCrossQuest, il doit utiliser leur email croix rouge personnel : <strong>prenom.nom@croix-rouge.fr</strong --></span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" ng-class="{'has-error':queteurForm.active.$invalid}">
            <label for="activeRadio1" class="control-label">Quêteur Actif</label> <br/>
            <label class="radio-inline">
              <input type="radio" name="active" id="activeRadio1" ng-model="queteur.current.active" ng-value="true" required> Oui
            </label>
            <label class="radio-inline">
              <input type="radio" name="active" id="activeRadio2" ng-model="queteur.current.active" ng-value="false" required> Non
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <div class="form-group" ng-class="{'has-error':queteurForm.mobile.$invalid}">
            <label for="mobile" class="control-label">Téléphone</label>
            <div class="input-group">
              <span class="input-group-addon glyphicon glyphicon-iphone" aria-hidden="true" id="basic-addon2" style="top:0px;">&nbsp;+</span>
              <input name="mobile" id="mobile" class="form-control"  type="number" ng-model="queteur.current.mobile" required ng-pattern="queteur.current.secteur >= 5? '33[1,6,7,9][0-9]{8,8}':'33[6-7][0-9]{8,8}'" autocomplete="tel-national"/>
            </div>
            <span class="help-block" ng-show="queteurForm.mobile.$invalid">Format : {{queteur.current.secteur >= 5?'+33[1 ou 6 ou 7 ou 9]01020304':'+33601020304 ou +33701020304'}} <br/><sub>(Ne <b>pas</b> mettre le +). Seul les numéros français sont autorisés</sub><br/>Si le quêteur n'a pas de mobile, mettre le téléphone de son parrain.</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group" ng-show="queteur.currentUserRole!=9 || queteur.current.id != null" ng-cloak>
            <label for="ul_id" class="control-label">Unité Locale</label>
            <select name="ul_id" id="ul_id" class="form-control" ng-model="queteur.current.ul_id">
              <option value="{{::queteur.current.ul_id}}" selected>{{::queteur.current.ul_name}}</option>
            </select>
          </div>

          <div class="form-group" ng-show="queteur.currentUserRole==9 && queteur.current.id == null" ng-cloak>
            <label for="ul_id_admin" class="control-label">Unité Locale</label>
            <input
              id="ul_id_admin"
              type="text"
              ng-model="queteur.current.ul_name"
              placeholder="Tappez votre recherche"
              uib-typeahead="queteur as queteur.full_name for queteur in queteur.searchUL($viewValue)"
              typeahead-loading="loadingULs"
              typeahead-no-results="noResults"
              typeahead-wait-ms="20"
              class="form-control"
              ng-required
              autocomplete="off">
            <i   ng-show="loadingULs" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noResults">
              <i class="glyphicon glyphicon-remove"></i> Aucune Unité Locale trouvée
            </div>
            <span class="help-block">Recherche par nom, code postal, ville</span>
          </div>

        </div>
      </div>
      <div class="row" ng-show="queteur.current.secteur >= 3" style="padding-bottom:15px;">
        <div class="col-md-8 col-md-offset-2">
          <h3><span class="label label-warning">Attention !</span> Quêteur d'un jour - Formulaire à remplir !</h3>
          <span class="help-block">Téléchargez le(s) formulaire(s), imprimez le(s), faites le(s) remplir et signer par le quêteur d'un jour (et parents), puis conserver ce document.</span>
          <div class="col-md-4 col-md-offset-2">
            <a href="/assets/docs/RCQ-QueteurUnJourEtMentionCNIL.pdf" target="_blank"><span class="glyphicon glyphicon-list-alt"   ></span>&nbsp;Formulaire Quêteur d'un Jour</a>
          </div>
          <div class="col-md-4 col-md-offset-2" ng-show="queteur.current.age < 18">
            <a href="/assets/docs/RCQ-AutorisationParentale.pdf"      target="_blank"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;Autorisation Parentale</a>
          </div>
        </div>
      </div>
      <div class="row" ng-show="false">
        <div class="col-md-8 col-md-offset-2">
          <div class="form-group">
            <label for="notes" class="control-label">Notes</label>
            <textarea rows="6" name="notes" id="notes" class="form-control" ng-model="queteur.current.notes"></textarea>
            <span class="help-block">Info importantes sur le quêteur, ex: Contraintes horaires etc...</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <div class="form-group" ng-show="queteur.current.id">
            <label for="created" class="control-label"><span ng-show="!queteur.isRegistration   == true">Créé le</span><span ng-show="queteur.isRegistration   == true">Inscrit le</span></label>
            <input name="created" id="created" class="form-control" ng-model="queteur.current.created" readonly/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group"ng-show="queteur.current.id && !queteur.isRegistration   == true">
            <label for="updated" class="control-label">Mise à jour le</label>
            <input name="updated" id="updated" class="form-control" ng-model="queteur.current.updated" readonly/>
          </div>

          <div class="form-group"ng-show="queteur.current.id && queteur.isRegistration   == true">
            <div class="form-group" ng-class="{'has-error':queteurForm.registration_approved.$invalid}">
              <label for="registrationApprovedRadio1" class="control-label">Je valide l'inscription et crée un nouveau quêteur?</label><br/>
              <label class="radio-inline">
                <input type="radio" name="registration_approved" id="registrationApprovedRadio1" ng-model="queteur.current.registration_approved" ng-value="true" ng-required="queteur.isRegistration == true"> Oui
              </label>
              <label class="radio-inline">
                <input type="radio" name="registration_approved" id="registrationApprovedRadio2" ng-model="queteur.current.registration_approved" ng-value="false" ng-required="queteur.isRegistration == true"> Non
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-show="queteur.isRegistration == true && queteur.current.registration_approved== false ">
        <div class="col-md-8 col-md-offset-2">
          <div class="form-group" ng-class="{'has-error':queteurForm.registrationRejectReason.$invalid}">
            <label for="registrationRejectReason" class="control-label">Motif du refus de l'inscription ?</label><br/>
            <small>Soyez courtois :)</small>
            <input name="registrationRejectReason" id="registrationRejectReason" class="form-control" type="text" ng-model="queteur.current.reject_reason" ng-required="queteur.isRegistration == true && queteur.current.registration_approved!= true" autocomplete="off"/>
          </div>
        </div>
      </div>
      <!-- Successful Save -->
      <div class="row" ng-show="queteur.savedSuccessfully">
        <div class="col-md-8 col-md-offset-2">
          <div class="alert alert-success alert-dismissible" role="alert" style="text-align: center;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="queteur.savedSuccessfully=false"><span aria-hidden="true">&times;</span></button>
            <strong>Bravo!</strong> Le quêteur a été sauvegardé avec succès!
          </div>
        </div>
      </div>
      <!-- Error while saving -->
      <div class="row" ng-show="queteur.errorWhileSaving">
        <div class="col-md-8 col-md-offset-2">
          <div class="alert alert-danger alert-dismissible" role="alert" style="text-align: center;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="queteur.errorWhileSaving=false"><span aria-hidden="true">&times;</span></button>
            <strong>Oouupps!</strong> Une erreur est survenue lors de la sauvegarde du quêteur!
            <pre style="text-align: left;">{{queteur.errorWhileSavingDetails}}</pre>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-2 col-md-offset-2">
          <a  ng-click="queteur.back();" class="btn btn-link">Annuler</a>
        </div>
        <div class="col-md-2 col-md-offset-4">
          <input type="button" class="btn btn-primary" value="Sauvegarder" ng-disabled="queteurForm.$invalid || queteur.current.saveInProgress" ng-show="queteur.currentUserRole>1" ng-click='queteur.save();'/>
        </div>
      </div>

      <!-- RCQ USER -->

      <!--
       Not displayed when approving a registration
       The current QUETEUR must already be created & active without anonymisation token
       The secteur must be <= 2 (social/secours)
       The current user must be admin
       The user is already created OR user is not created and secteur is pristin.

       ==> Open queteur d'un jour, change secteur to Social or secours
           ==> queteur not saved yet
           ==> So we must not display the user form with the button to create the user.
           (this generate an error from server side anyway)


       -->

      <div ng-show="!queteur.isRegistration  == true     &&
                     queteur.current.id       > 0        &&
                     queteur.current.active  == 1        &&
                    !queteur.current.anonymization_token &&
                     queteur.current.secteur <= 2        &&
                     queteur.currentUserRole >= 4        &&
                    (queteur.current.user.id  > 0        || queteurForm.secteur.$pristine)">

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="panel" ng-class="{'panel-warning':!queteur.current.user, 'panel-success':queteur.current.user.id>0}">
              <div class="panel-heading">
                <h3 class="panel-title">Application RCQ</h3>
              </div>
              <div class="panel-body">

                <!-- Saving Successful -->
                <div class="row" ng-show="queteur.current.userSavedSuccessfully">
                  <div class="col-md-12">
                    <div class="alert alert-success alert-dismissible" role="alert" style="text-align: center;">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="queteur.current.userSavedSuccessfully=false"><span aria-hidden="true">&times;</span></button>
                      <strong>Bravo!</strong> L'utilisateur a été sauvegardé avec succès!
                      <div ng-show="queteur.current.initPasswordEmailSent || queteur.current.reinitPasswordEmailSent">
                        Un email contenant un lien permettant d'initialiser le mot de passe vient d'être envoyé.<br/>
                        <small>Le lien est valide 4{{queteur.current.initPasswordEmailSent?'8':''}}h à compter de maintenant</small>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Error while saving -->
                <div class="row" ng-show="queteur.current.userErrorWhileSaving">
                  <div class="col-md-12">
                    <div class="alert alert-danger alert-dismissible" role="alert" style="text-align: center;">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="queteur.current.userErrorWhileSaving=false"><span aria-hidden="true">&times;</span></button>
                      <strong>Oouupps!</strong> Une erreur est survenue lors de la sauvegarde de l'utilisateur!
                      <pre style="text-align: left;height:90px;">{{queteur.current.userErrorWhileSavingDetails}}</pre>
                    </div>
                  </div>
                </div>

                <span class="help-block" ng-show="!queteur.current.user">Ce bénévole <b>n'</b>est <b>pas</b> un utilisateur de l'application RCQ</span>
                <span class="help-block" ng-show="queteur.current.user" >Ce bénévole <b>est</b> un utilisateur de l'application RCQ</span>
                <div class="row"  ng-show="!queteur.current.user">
                  <div class="col-md-12 ">
                    <button class="btn btn-default"
                            type="button"
                            id="createUserButton"
                            ng-click="queteur.createUser()"
                            ng-disabled="queteur.current.userSaveInProgress || queteurForm.$invalid"
                    >Faire de ce bénévole un utilisateur de l'application RCQ</button>
                    <span class="help-block">
                      En cliquant sur ce bouton :
                      <ul>
                        <li>Le bénévole deviendra un utilisateur de l'application et pourra se connecter à l'application RCQ</li>
                        <li>Il recevera un <strong>email</strong> avec un lien pour initialiser son mot de passe</li>
                        <li>Par défaut, il sera actif et aura le role "Lecture Seule"</li>
                        <li>L'utilisateur ne pourra plus être supprimé, seulement désactivé</li>
                      </ul>
                    </span>
                  </div>
                </div>
                <div ng-show="queteur.current.user.id">
                  <div class="panel panel-primary">
                    <div class="panel-heading">Modifications</div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-4">
                          <label for="userActiveRadio1" class="control-label">Utilisateur RCQ Actif</label> <br/>
                          <label class="radio-inline">
                            <input type="radio" name="userActive" id="userActiveRadio1" ng-model="queteur.current.user.active" ng-value="true"  ng-required="queteur.current.user"> Oui
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="userActive" id="userActiveRadio2" ng-model="queteur.current.user.active" ng-value="false" ng-required="queteur.current.user"> Non
                          </label>
                        </div>

                        <div class="form-group col-md-8">
                          <label for="user.role" class="control-label">Rôle de l'utilisateur</label>
                          <!-- (r.id+'') otherwise the value of the option tag is value='number:1' -->
                          <select name="user.role" id="user.role" class="form-control" ng-model="queteur.current.user.role" ng-required="queteur.current.user"
                                  ng-options="(r.id) as r.label
                      for
                      r in queteur.roleList">
                          </select>
                          <span class="help-block" style="height:38px">{{queteur.roleDesc[queteur.current.user.role]}}</span>
                        </div>
                      </div>



                      <div class="row">
                        <div class="form-group col-md-6">
                          <button class="btn btn-default" type="button" id="reInitUserPassword" ng-click="queteur.reinitPassword()">Réinitialiser le Password</button>
                          <span class="help-block">Un email sera envoyé à l'utilsateur avec un lien pour réinitialiser son mot de passe</span>
                        </div>
                        <div class="form-group col-md-6">
                          <button class="btn btn-default" type="button" id="userSave" ng-click="queteur.userSave()" ng-disabled="queteur.current.userSaveInProgress || queteurForm.$invalid ">Sauvegarder</button>
                          <span class="help-block">L'utilisateur devra se deconnecter/reconnecter pour que la modification soit effective</span>
                        </div>
                      </div>
                    </div>
                  </div> <!-- fin panel Modification -->
                  <div class="panel panel-default">
                    <div class="panel-heading">Informations</div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-12 ">
                          <label for="password_defined" class="control-label">Password Défini?</label>
                          <input type="checkbox" id="password_defined" name="password_defined" ng-model="queteur.current.user.password_defined" disabled/>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="user.created" class="control-label">Créé le</label>
                            <input name="created" id="user.created" class="form-control" ng-model="queteur.current.user.created" readonly/>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="user.updated" class="control-label">Mise à jour le</label>
                            <input name="updated" id="user.updated" class="form-control" ng-model="queteur.current.user.updated" readonly/>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">

                          <div class="form-group">
                            <label for="last_failure_login_date" class="control-label">Dernière authentification échouée</label>
                            <input name="last_failure_login_date" id="last_failure_login_date" class="form-control" ng-model="queteur.current.user.last_failure_login_date" readonly/>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="last_successful_login_date" class="control-label">Dernière authentification réussie</label>
                            <input name="last_successful_login_date" id="last_successful_login_date" class="form-control" ng-model="queteur.current.user.last_successful_login_date" readonly/>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 ">
                          <label for="nb_of_failure" class="control-label">Nombre d'authentification échouée</label>
                          <input type="text" id="nb_of_failure" autocomplete="off" class="form-control" name="nb_of_failure" ng-model="queteur.current.user.nb_of_failure" disabled/>
                        </div>
                      </div>
                    </div>
                  </div> <!-- fin panel information -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- CNIL GDPR -->
      <div class="row" ng-show="!queteur.isRegistration   == true &&
                                 queteur.current.id       > 0     &&
                                 queteur.currentUserRole  >= 4    &&
                                !queteur.current.anonymization_token" style="padding-top:20px;">
        <div class="col-md-offset-2 col-md-8">
          <button class="btn btn-warning"
                  ng-click="queteur.anonymize();"
                  style="width:100%;height:70px;">
            CNIL/GDPR : Anonymiser les données du Quêteur
          </button>
          <span class="help-block">
            <p>Cliquez sur ce bouton si le quêteur vous demande la suppression de ses données dans RedCrossQuest.</p>
            <p>Après confirmation, les données de cet écran sont effacées et un jeton unique est attaché à la fiche du quêteur et envoyé par email au quêteur.</p>
            <p>L'année suivante (ou immédiatement, si l'action a été faite par erreur), le quêteur peut vous transmettre ce jeton pour retrouver la fiche anonymisée et la revaloriser pour une nouvelle année de quête. Il retrouvera tous ses troncs</p>
            <p>Les troncs ne sont pas supprimés/modifiés par cette action, le bilan comptable n'est pas impacté.</p>
          </span>
        </div>
      </div>
      <div class="row" ng-show="queteur.currentUserRole >= 4        &&
                               !queteur.current.anonymization_token &&
                                queteur.current.anonymizeAskConfirmation" >
        <div class="col-md-offset-2 col-md-4">
          <button class="btn btn-danger"
                  ng-click="queteur.doAnonymize();"
                  ng-hide="queteur.current.doAnonymizeButtonDisabled"
                  style="width:100%;height:70px;">
            J'anonymise les <br/>données du quêteur
          </button>
          <div ng-show="queteur.current.doAnonymizeButtonDisabled">
          <img src="assets/images/loading.gif" alt="Chargement en cours, veuillez patienter" />
          </div>
          <span class="help-block">
            <p>En cliquant sur ce bouton, les données de cet écran sont effacées et un jeton unique est envoyé par email au quêteur.</p>
          </span>
        </div>

        <div class="col-md-4">
          <button class="btn btn-default"
                  ng-click="queteur.current.anonymizeAskConfirmation=false;"
                  style="width:100%;height:70px;">
            Ouuppss.... <br/>Je me suis trompé !
          </button>
          <span class="help-block">
            <p>En cliquant sur ce bouton, vous revenez un cran en arrière, aucune modification n'aura été effectuée</p>
          </span>
        </div>
      </div>
      <div class="row" ng-show="queteur.currentUserRole >= 4 && queteur.current.anonymization_token" style="padding-top:20px;">
        <div class="col-md-offset-2 col-md-4">
          <label for="anonymization_token" class="control-label">Token d'Anonymisation</label>
          <input name="anonymization_token" id="anonymization_token" class="form-control" ng-model="queteur.current.anonymization_token" readonly/>
        </div>
        <div class="col-md-4">
          <label for="anonymization_date" class="control-label">Date d'anonymisation</label>
          <input name="anonymization_date" id="anonymization_date" class="form-control" ng-model="queteur.current.anonymization_date" readonly/>
        </div>
      </div>
      <div class="row" ng-show="queteur.currentUserRole >= 4        &&
                                queteur.current.anonymization_token &&
                                queteur.current.unanonymizeAskConfirmation"
      style="margin-top:20px;">
        <div class="col-md-offset-2 col-md-4">
          <button class="btn btn-danger"
                  ng-click="queteur.confirmUnAnonymize();"
                  style="width:100%;height:70px;">
            Je revalorise la fiche du quêteur sur demande<br/>
            explicite de la personne concernée
          </button>
          <span class="help-block">
            <p>En cliquant sur ce bouton, vous revalorisez la fiche quêteur d'une personne qui a explicitement demandé à ce que ses données soient anonymisées.</p>
            <p>Vous ne devez faire cela, que sur demande expresse de la personne, qui vous aura transmis le jeton d'anonymisation.</p>
          </span>
        </div>

        <div class="col-md-4">
          <button class="btn btn-default"
                  ng-click="queteur.current.unanonymizeAskConfirmation=false;"
                  style="width:100%;height:70px;">
            Ouuppss.... <br/>Je me suis trompé !
          </button>
          <span class="help-block">
            <p>En cliquant sur ce bouton, vous revenez un cran en arrière, aucune modification n'aura été effectuée</p>
          </span>
        </div>
      </div>


      <!-- liste des troncs -->
      <div class="row" ng-show="queteur.current.id > 0 && !queteur.isRegistration   == true" style="padding-top:20px;">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Listes des troncs ({{::queteur.current.troncs_queteur.length}}) de <b><span ng-bind="queteur.current.first_name"></span> <span ng-bind="queteur.current.last_name"></span></b></div>
          <table class='table'>
            <thead>
              <tr>
                <th>ID (click to edit)</th>
                <th>Tronc ID</th>
                <th>Départ théorique</th>
                <th>Départ</th>
                <th>Retour</th>
                <th>Durée(min)</th>
                <th>Point de Quête</th>
                <th>Montant</th>
                <th>Poids</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="tq in queteur.current.troncs_queteur">
                <th><a ng-href="/#!/tronc_queteur/edit/{{tq.id}}">{{tq.id}}</a>&nbsp;<span class="glyphicon glyphicon-bin" aria-hidden="true" style="color:grey;" ng-show="tq.deleted"></span></th>
                <td>{{tq.tronc_id}} </td>
                <td>{{tq.depart_theorique}} </td>
                <td>{{tq.depart}}</td>
                <td>{{tq.retour}}</td>
                <td>{{tq.duration.toFixed(2)}}</td>
                <td>{{tq.point_quete_id}} - {{queteur.pointQueteHash[tq.point_quete_id].name==null ?'Désactivé':queteur.pointQueteHash[tq.point_quete_id].name}}</td>
                <td style="text-align: right">
                  {{
                  tq.euro500 * 500 +
                  tq.euro200 * 200 +
                  tq.euro100 * 100 +
                  tq.euro50  * 50  +
                  tq.euro20  * 20  +
                  tq.euro10  * 10  +
                  tq.euro5   * 5   +
                  tq.euro2   * 2   +
                  tq.euro1   * 1   +
                  tq.cents50 * 0.5 +
                  tq.cents20 * 0.2 +
                  tq.cents10 * 0.1 +
                  tq.cents5  * 0.05+
                  tq.cents2  * 0.02+
                  tq.cent1   * 0.01+
                  tq.don_cheque    +
                  tq.don_creditcard
                  | currency : "€" : 2}}
                </td>
                <td style="text-align: right">
                  {{(tq.euro500 * 1.1  +
                  tq.euro200 * 1.1  +
                  tq.euro100 * 1    +
                  tq.euro50  * 0.9  +
                  tq.euro20  * 0.8  +
                  tq.euro10  * 0.7  +
                  tq.euro5   * 0.6  +
                  tq.euro2   * 8.5  +
                  tq.euro1   * 7.5  +
                  tq.cents50 * 7.8  +
                  tq.cents20 * 5.74 +
                  tq.cents10 * 4.1  +
                  tq.cents5  * 3.92 +
                  tq.cents2  * 3.06 +
                  tq.cent1   * 2.3  ).toFixed(2)}}
                  g
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>

