<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>


  <div class="container" data-ng-controller="TroncsController as t">

    <div class="panel panel-primary">
      <div class="panel-heading">Les Troncs</div>
    </div>

    <div class="row">

      <div class="col-xs-12 col-md-12">
        <div class="well">
          <form class="form-search">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input class="form-control" placeholder="Search" data-ng-model="t.search">
              </div>
              <div data-ng-show="q.search">
                <span data-ng-pluralize
                      data-count="filteredContacts.length"
                      data-when="{'0': 'No contact', 'one': 'One contact', 'other': '{} contacts' }">
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-xs-12 col-md-12">
        <div class="row">

          <div class="contact-card col-sm-2" data-ng-repeat="tronc in t.list | filter:t.search | orderBy:'lastName'">
            <div class="contact-card-inner">
              <h4>
                <a ng-href="#/troncs/edit/{{tronc.id}}"><span class="glyphicon glyphicon-cd" aria-hidden="true"></span></a>
                &nbsp;{{::tronc.id}}
              </h4>
              <div class="contact-address">{{::tronc.enabled}}</div>
              <div class="contact-phone">{{::tronc.notes}}</div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>


</div>
