<style type="text/css">
  @page {
    size: A4 portrait;
  }
  body {
    margin: 0;
  }

  .QRCodeTable
  {
    width:210mm;
    margin-top:2mm !important;

  }

  .QRCodeTable tr{
    height:36mm;
  }
  .QRCodeTable td{
    width:50mm !important;
    border:1px solid silver;
    font-size:7px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    padding:5px 15px 6px 15px;
  }
  .InfoTable
  {
    border:0px;
    margin-bottom:5px;
  }
  .InfoTable tr
  {
    height:12px;
    margin:0px;
    padding:0px;
  }
  .InfoTable td
  {
    border:none;
    margin:0px;
    padding:0px;
    text-align: left;
    font-size:10px;
    font-weight: normal;
  }

</style><style type="text/css" media="print">

  @page {
    size: A4 portrait;
    margin: 3mm 3mm 3mm 3mm;

  }
  .no-print
  {
    display:none !important;
  }

  .QRCodeTable
  {

    margin:0;
    left:0 !important;
  }

  .container{
    margin:0 !important;
    padding:0 !important;
  }

</style>
<acme-navbar class="no-print"></acme-navbar>
<div class="container">




  <div class="container" style="text-align: left">

    <div class="panel panel-primary no-print">
      <div class="panel-heading">QR Code des Quêteurs ACTIF</div>
    </div>

    <div class="alert alert-danger" style="background-color:red;color:black;font-size:36px;text-align:center;" ng-show="qrcQueteurs.deploymentType!='P'"><strong>⛔️ ATTENTION ⛔️</strong> <br/>NE PAS DIFFUSER - CE N'EST PAS LA PRODUCTION</div>
    <form novalidate name="QueteurQRCodeForm">
    <div class="row no-print">
      <div class="col-md-3">
        <button type="button" id="markAllAsPrinted" name="markAllAsPrinted" class="btn btn-warning" ng-click="qrcQueteurs.markAllAsPrinted();">Marquer tous les QRCode des <br/>Quêteurs comme étant imprimés</button>
        <br/><br/>
        <button class="btn btn-danger"
                ng-show="qrcQueteurs.confirmMarkAllAsRead"
                ng-click="qrcQueteurs.doMarkAllAsPrinted();"
                style="width:100%;height:70px;">
          Je confirme que je veux marquer <br/>les QRCode comme étant imprimés
        </button>
        Nombre de QRCodes: <span class="badge">{{qrcQueteurs.list.length}}</span>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="searchTypeRadio1" class="control-label">Type de Recherche :</label><br/>
          <label class="radio-inline">
            <input type="radio" name="QRSearchType" id="searchTypeRadio1" ng-model="qrcQueteurs.QRSearchType" value="0" required ng-checked="qrcQueteurs.QRSearchType==0"> Tous
          </label>
          <label class="radio-inline">
            <input type="radio" name="QRSearchType" id="searchTypeRadio2" ng-model="qrcQueteurs.QRSearchType" value="1" required ng-checked="qrcQueteurs.QRSearchType==1"> Imprimés
          </label>
          <label class="radio-inline">
            <input type="radio" name="QRSearchType" id="searchTypeRadio3" ng-model="qrcQueteurs.QRSearchType" value="2" required ng-checked="qrcQueteurs.QRSearchType==2"> Non Imprimé
          </label>
        </div>
        <br/>
        <button class="btn btn-info"
                ng-show="qrcQueteurs.confirmMarkAllAsRead"
                ng-click="qrcQueteurs.cancelMarkAllAsPrinted();"
                style="width:100%;height:70px;">
          Ooups, je me suis trompé
        </button>

      </div>
      <div class="col-md-5">
        <div class="form-group" ng-class="{'has-error':QueteurQRCodeForm.listQueteurIds.$invalid}">
          <label for="listQueteurIds" class="control-label">Impression d'un ou plusieurs QRCode</label>
          <input
            name="listQueteurIds"
            id="listQueteurIds"
            class="form-control"
            ng-model="qrcQueteurs.listQueteurIds"
            ng-pattern="qrcQueteurs.listQueteurIdsRegExp"
            placeholder="Listes des ID des Quêteurs à imprimer séparé par une virgule"
          />
            <span class="help-block">
              exemple:
              <ul>
                <li>3453 pour imprimé 1 QRCode</li>
                <li>3453,6478,3892,38894 pour imprimé 4 QRCodes</li>
              </ul>
              Sous le QRCode, il est marqué QUETEUR-00000XXX-000000<b>YYYYY</b> => c'est le <b>YYYY</b> qu'il faut reporter dans ce champ
            </span>
        </div>
      </div>
    </div>

    <div class="row no-print" ng-show="qrcQueteurs.savedSuccessfully">
      <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-success alert-dismissible" role="alert" style="text-align: center;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="qrcQueteurs.savedSuccessfully=false"><span aria-hidden="true">&times;</span></button>
          Les QR Code ont bien été marqué comme imprimés !
        </div>
      </div>
    </div>
    <div class="row no-print" ng-show="qrcQueteurs.errorWhileSaving">
      <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-danger alert-dismissible" role="alert" style="text-align: center;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="qrcQueteurs.errorWhileSaving=false"><span aria-hidden="true">&times;</span></button>
          <strong>Oouupps!</strong> Une erreur est survenue lors du marquage des troncs comme étant imprimés
          <pre style="text-align: left;">{{qrcQueteurs.errorWhileSavingDetails}}</pre>
        </div>
      </div>
    </div>

    <div class="row no-print">
      <div class="col-md-1 col-md-offset-10">
        <button class="btn btn-primary" ng-click="qrcQueteurs.search();"
        ng-disabled="QueteurQRCodeForm.$invalid"
        >Rechercher</button>
      </div>
    </div>
      <div class="row no-print">
        <div class="cold-md-12">
          <label for="size">Size: {{qrcQueteurs.size}}</label>
          <input type="range" id="size" class="range ng-valid ng-dirty ng-touched" ng-model="qrcQueteurs.size" min="100" max="500">
        </div>
      </div>
      <div class="row no-print">
        <div class="col-md-4 form-group">
          <label for="rows">Nombre de lignes</label>
          <input type="number" id="rows" ng-model="qrcQueteurs.rows">
        </div>
        <div class="col-md-4 form-group">
          <label for="cols">Nombre de colonnes</label>
          <input type="number" id="cols" ng-model="qrcQueteurs.cols">
        </div>
        <div class="col-md-4 form-group">
          <label for="cols">Appliquer</label>
          <input type="button" ng-click="qrcQueteurs.draw();" value="Appliquer">
        </div>
      </div>
    </form>
    <table class="QRCodeTable" ng-repeat="table in qrcQueteurs.tables" style="width:237px;">
      <tbody>
        <tr ng-repeat="table_tr in table">
          <td ng-repeat="table_td in table_tr" style='font-size:8px;width:237px;'>

            <table class="InfoTable">
              <tr>
                <td style="width:80px!important;"><b>Prénom</b></td>
                <td>{{::table_td.first_name}}</td>
              </tr>
              <tr>
                <td style="width:80px!important;"><b>Nom</b></td>
                <td>{{::table_td.last_name}}</td>
              </tr>
              <tr>
                <td style="width:80px!important;"><b>Unité Locale</b></td>
                <td>{{::qrcQueteurs.ulName}}</td>
              </tr>
            </table>




            <qr text="::table_td.qr_code" size="qrcQueteurs.size"></qr>
            <br/><span style="">{{::table_td.qr_code}}</span></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

