<style type="text/css">
  @page {
    size: A4 portrait;
  }
  body {
    margin: 0;
  }

  .QRCodeTable
  {
    width:210mm;
    margin-top:2mm !important;

  }

  .QRCodeTable tr{
    height:36mm;
  }
  .QRCodeTable td{
    width:50mm !important;
    border:1px solid silver;
    font-size:11px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    padding:5px;
  }
  .thickborder
  {
    border-bottom: 5mm solid silver;
  }
  .mediumthickborder
  {
    border-bottom: 4mm solid silver;
  }
</style><style type="text/css" media="print">
  @page {
    size: A4 portrait;
    margin: 3mm 3mm 3mm 3mm;
  }
  .no-print
  {
    display:none !important;
  }

  .QRCodeTable
  {
    page-break-after:always;
    margin:0;
    left:0 !important;
  }

  .container{
    margin:0 !important;
    padding:0 !important;
  }

</style>

<acme-navbar class="no-print"></acme-navbar>

<div class="container" data-ng-controller="QRCodeTroncsController as qrcTroncs">



  <div class="container" style="text-align: left">

    <div class="panel panel-primary no-print">
      <div class="panel-heading">QR Code des Troncs ACTIF</div>
    </div>

    <div class="row no-print">
      Size: {{qrcTroncs.size}}
      <input type="range" id="size" class="range ng-valid ng-dirty ng-touched" ng-model="qrcTroncs.size" min="100" max="500">
    </div>



    <table class="QRCodeTable" ng-repeat="table in qrcTroncs.tables">
      <tbody>
        <tr ng-repeat="table_tr in table">
          <td ng-repeat="table_td in table_tr"><qr text="table_td.qr_code" size="qrcTroncs.size"></qr><br/>{{table_td.qr_code}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

