<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-href="#/">
        <span class="glyphicon glyphicon-plus" style="color:#E3001B;"></span> RedCrossQuest
      </a>
    </div>
  </div>
</nav>

<div class="container" ng-if="!vm.error" ng-cloak>

  <h2>Ré-initialisation de votre mot de passe</h2>
  <form name="resetPasswordForm" ng-submit="form.$valid" novalidate>
    <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.username.$invalid }">
      <label for="username">Nom d'utilisateur</label>
      <input type="text" id="username" name="username" class="form-control" ng-model="vm.username" readonly/>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
      <label for="password">Mot de passe</label>
      <input type="password" id="password" name="password" class="form-control" ng-model="vm.password" required ng-change="vm.computeStrength()" autocomplete="new-password"/>
      <span uib-rating ng-model="vm.rate" max="4" read-only="true" on-leave="overStar = null" titles="['trop facile à deviner','devinable sans trop de difficulté','Difficilement devinable', 'très difficile à deviner']" aria-labelledby="default-rating"></span>
      <span class="label" ng-class="{'label-danger': vm.rate==0,'label-warning': vm.rate==1, 'label-info': vm.rate==2, 'label-success': vm.rate>=3}">{{vm.getTxtFromRating()}}</span>
      <div ng-messages="form.$submitted && form.password.$error" class="help-block">
        <div ng-message="required">Le mot de passe est requis</div>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.passwordRepeat.$invalid }">
      <label for="passwordRepeat">Confirmer le mot de passe</label>
      <input type="password" id="passwordRepeat" name="passwordRepeat" class="form-control" ng-model="vm.passwordRepeat" required ng-change="vm.checkIfPasswordMatch()"  autocomplete="new-password"/>
      <div ng-messages="form.$submitted && form.passwordRepeat.$error" class="help-block">
        <div ng-message="required">La confirmation du mot de passe est requise</div>
      </div>
      <span class="label" ng-class="{'label-danger': vm.passwordMatch==false, 'label-success': vm.passwordMatch==true}">{{vm.getPasswordCheckText()}}</span>
    </div>

    <div class="form-group" ng-if="!vm.success">
      <button ng-disabled="vm.loading || vm.passwordMatch==false || vm.rate<=2" class="btn btn-primary" ng-click="vm.resetPassword()">Enregistrer</button>
      <img ng-if="vm.loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
    <div ng-if="vm.success || true" class="alert alert-success" style="font-size: 24px;text-align:center;">
      <a ng-href="/#!/login/{{vm.username}}">Cliquez ici pour vous connecter</a>
    </div>
  </form>
</div>
<div class="container" ng-if="vm.error"  ng-cloak>
  <div  class="alert alert-danger">{{vm.error}}</div>
</div>
