<div class="container"  data-ng-controller="PreparationTroncController as pt">


<!-- Modal window in case of error -->
  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title">Erreur lors de la sauvegarde de la préparation du tronc!</h3>
    </div>
    <div class="modal-body">
      <ng-bind-html  ng-bind-html="message"></ng-bind-html>

      {{troncId}}

    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" type="button" ng-click="deleteNonReturnedTronc()">Supprimer les Anciens Troncs et sauver la préparation du tronc courant</button>
      <button class="btn btn-primary" type="button" ng-click="cancel()">Annuler et donner le tronc au bon quêteur (ou contacter Thomas)</button>
    </div>
  </script>

<!-- Nav Bar -->
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

<div class="container">

  <div class="panel panel-primary" style="background-color: #0275d8!important; border-color:#0275d8!important;">
    <div class="panel-heading" style="background-color: #0275d8!important; border-color:#0275d8!important;"><h2>Préparation Tronc</h2></div>
  </div>


  <div class="">
    <div class="well">
      <form novalidate ng-submit='pt.save();' name="prepaTroncForm">
        <div class="row">
          <div class="col-md-4">

            <qr-scanner
              ng-success="pt.qrCodeScanOnSuccess(data)"
                ng-error="pt.qrCodeScanOnError(error)"
          ng-video-error="pt.qrCodeScanOnVideoError(error)"
                   width="320"
                  height="200"/>
            <br/>
            <span ng-bind="pt.decodedData"></span>
          </div>

          <div class=" col-md-4">
            <div class="form-group" ng-class="{'has-error':prepaTroncForm.queteurId.$invalid}">
              <label for="queteurId" class="control-label">Recherche du Quêteur</label>
              <input
               id="queteurId"
               type="text"
               ng-model="pt.current.queteur"
               placeholder="Scanner le QRCode de la carte du quêteur"
               uib-typeahead="queteur as queteur.full_name for queteur in pt.searchQueteur($viewValue)"
               typeahead-loading="loadingQueteurs"
               typeahead-no-results="noResults"
               typeahead-wait-ms="20"
               class="form-control"
               ng-required
               autocomplete="off">
              <i   ng-show="loadingQueteurs" class="glyphicon glyphicon-refresh"></i>
              <div ng-show="noResults">
                <i class="glyphicon glyphicon-remove"></i> Aucun Queteur trouvé
              </div>
              <span class="help-block">Scan QR Code, avec mode secours saisie manuelle</span>
            </div>
            <div class="form-group" ng-class="{'has-error':prepaTroncForm.horaireDepartTheorique.$invalid}">
              <label for="horaireDepartTheorique" class="control-label">Horaire Théorique de Départ</label>
              <input name="horaireDepartTheorique" id="horaireDepartTheorique" type="datetime-local" class="form-control" ng-model="pt.current.horaireDepartTheorique" required/>
              <span class="help-block" ng-show="prepaTroncForm.horaireDepartTheorique.$error.required">Required</span>
            </div>
          </div>
          <div class=" col-md-4">
            <div class="form-group" ng-class="{'has-error':prepaTroncForm.troncId.$invalid}">
              <label for="troncId" class="control-label">Id Tronc</label>
              <input
                id="troncId"
                type="text"
                ng-model="pt.current.tronc"
                placeholder="Scanner le QRCode du tronc"
                uib-typeahead="tronc as tronc.stringView for tronc in pt.searchTronc($viewValue)"
                typeahead-loading="loadingTroncs"
                typeahead-no-results="noTroncsResults"
                typeahead-wait-ms="20"
                class="form-control"
                ng-required
                autocomplete="off">
              <i   ng-show="loadingTroncs" class="glyphicon glyphicon-refresh"></i>
              <div ng-show="noTroncResults">
                <i class="glyphicon glyphicon-remove"></i> Aucun Tronc trouvé
              </div>

              <span class="help-block">Scan QR Code, avec mode secours saisie manuelle</span>
            </div>
            <div class="form-group">
              <label for="lieuDeQuete" class="control-label">Lieu de Quête</label>
              <select name="lieuDeQuete" id="lieuDeQuete" class="form-control" ng-model="pt.current.lieuDeQuete" required
                      ng-options="pq.id as pq.code+' - '+pq.name
                      for
                      pq in pt.pointsQuete">
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="pull-right">
            <div class="form-group">
              <input type="submit" class="btn btn-primary" value="Save" ng-disabled="prepaTroncForm.$invalid" />
              <a ng-href="#/list" class="btn btn-link">Cancel</a>
            </div>
          </div>
        </div>

        <div class="panel panel-info" ng-show="pt.current.lieuDeQuete">
          <div class="panel-heading">Informations sur le Point de Quête</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-2">
                <label for="pqCode" class="control-label">Code</label>
                <input type="text" id="pqCode" value="{{pt.pointsQueteHash[pt.current.lieuDeQuete].code}}" class="form-control" readonly/>
              </div>
              <div class="col-md-4">
                <label for="pqName" class="control-label">Nom</label>
                <input type="text" id="pqName" value="{{pt.pointsQueteHash[pt.current.lieuDeQuete].name}}" class="form-control" readonly/>
              </div>
              <div class="col-md-4">
                <label for="pqName" class="control-label">Google Maps</label><br/>
                <a ng-href="https://maps.google.com/loc?q={{pt.pointsQueteHash[pt.current.lieuDeQuete].latitude}},{{pt.pointsQueteHash[pt.current.lieuDeQuete].longitude}}" target="_blank">
                  {{pt.pointsQueteHash[pt.current.lieuDeQuete].address}}, {{pt.pointsQueteHash[pt.current.lieuDeQuete].postal_code}}, {{pt.pointsQueteHash[pt.current.lieuDeQuete].city}}
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label for="pqMaxPeople" class="control-label">Nb de quêteur Max</label>
                <input type="text" id="pqMaxPeople" value="{{pt.pointsQueteHash[pt.current.lieuDeQuete].max_people}}" class="form-control" readonly/>
              </div>
              <div class="col-md-4">
                <label for="pqMinorAllowed" class="control-label">Mineur Authorisé</label>
                <input type="text" id="pqMinorAllowed" value="{{pt.pointsQueteHash[pt.current.lieuDeQuete].minor_allowed}}" class="form-control" readonly/>
              </div>
              <div class="col-md-4">
                <label for="pqCreated" class="control-label">Date Création du Point de Quête</label>
                <input type="text" id="pqCreated" value="{{pt.pointsQueteHash[pt.current.lieuDeQuete].created.date}}" class="form-control" readonly/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label for="pqType" class="control-label">Type</label>
                <input type="text" id="pqType" value="{{pt.pointsQueteHash[pt.current.lieuDeQuete].type}}" class="form-control" readonly/>
              </div>
              <div class="col-md-4">
                <label for="pqTimeToReach" class="control-label">Temps moyen pour atteindre le Point de Quête</label>
                <input type="text" id="pqTimeToReach" value="{{pt.pointsQueteHash[pt.current.lieuDeQuete].time_to_reach}}" class="form-control" readonly/>
              </div>
              <div class="col-md-4">
                <label for="pqTransportToReach" class="control-label">Type de Transport pour atteindre le point de quête</label>
                <input type="text" id="pqTransportToReach" value="{{pt.pointsQueteHash[pt.current.lieuDeQuete].transport_to_reach}}" class="form-control" readonly/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="pqAdvice" class="control-label">Infos/Conseils</label>
                <textarea id="pqAdvice" class="form-control">{{pt.pointsQueteHash[pt.current.lieuDeQuete].advice}}</textarea>
              </div>
              <div class="col-md-6">
                <label for="pqLocalization" class="control-label">Aide à la localisation</label>
                <textarea id="pqLocalization" class="form-control">{{pt.pointsQueteHash[pt.current.lieuDeQuete].localization}}</textarea>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>


</div>
</div>
