<acme-navbar xmlns="http://www.w3.org/1999/html"></acme-navbar>
<div class="container">

  <style>.troncInUse-modal-dialog .modal-dialog {width: 90%;} </style>

<!-- Modal window in case of error -->
  <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
      <h3 class="modal-title">Erreur lors de la sauvegarde de la préparation du<br class="hidden-lg"/> {Tronc-Quêteur}!</h3>
    </div>
    <div class="modal-body">

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Ce <strong style="color:red;">{</strong> Tronc-Quêteur <strong style="color:red;">}</strong> est comptabilisé comme étant en cours d'utilisation <b>{{troncInfos.length}}</b> fois</div>

        <table class='table visible-lg-block'>
          <thead>
          <tr>
            <th>tronc_queteur ID</th>
            <th>départ Théorique</th>
            <th>départ</th>
            <th>tronc id</th>
            <th>queteur id</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>email</th>
            <th>mobile</th>
            <th>nivol</th>
            <th>status</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="info in troncInfos">
            <th>{{info.id}}</th>
            <td>{{info.depart_theorique}}</td>
            <td>{{info.depart}}</td>
            <td>{{info.tronc_id}}</td>
            <td>{{info.queteur_id}}</td>
            <td>{{info.first_name}}</td>
            <td>{{info.last_name}}</td>
            <td>{{info.email}}</td>
            <td>{{info.mobile}}</td>
            <td>{{info.nivol}}</td>
            <td>{{label[info.status]}}</td>
          </tr>
          </tbody>
        </table>

        <ul class="list-group hidden-lg">
          <li class="list-group-item" ng-repeat="info in troncInfos">
            TQ ID : {{info.id}} -
            Départ : {{info.depart_theorique}} -
            Tronc : {{info.tronc_id}}
            Queteur ID: {{info.queteur_id}} -
            {{info.first_name}} -
            {{info.last_name}}  -
            {{info.email}} -
            {{info.mobile}} -
            {{info.nivol}} -
            {{label[info.status]}}
          </li>
        </ul>
      </div>

      <div class="alert alert-danger" ng-if="twoIdenticalRows" role="alert">Vous avez déjà préparé ce tronc avec ce Quêteur ! Cliquer sur le bouton Annuler.</div>


    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" type="button" ng-click="deleteNonReturnedTronc()" ng-disabled="twoIdenticalRows">Supprimer les Anciens <strong style="color:red;">{</strong> Tronc-Quêteur <strong style="color:red;">}</strong> et <br class="hidden-lg"/>sauver la préparation du {Tronc-Quêteur} courant</button><br class="hidden-lg"/><br class="hidden-lg"/>
      <button class="btn btn-primary" type="button" ng-click="cancel()">Annuler et donner le <strong style="color:red;">{</strong> Tronc-Quêteur <strong style="color:red;">}</strong> au<br class="hidden-lg"/> bon quêteur</button>
    </div>
  </script>




  <div class="panel panel-primary" style="background-color: #0275d8!important; border-color:#0275d8!important;">
    <div class="panel-heading" style="background-color: #0275d8!important; border-color:#0275d8!important;"><h2>Préparation du <strong style="color:red;">{</strong> Tronc-Quêteur <strong style="color:red;">}</strong></h2></div>
  </div>


  <div>
    <div class="well">
      <form novalidate name="prepaTroncForm">
        <div class="row" ng-if="pt.current.QRCodeScanError" style="text-align: center;">
          <div class="col-md-8 col-md-offset-4">
            <span class="alert alert-danger" role="alert" ng-bind-html="pt.current.QRCodeScanError"></span>
            <br/><br/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4"  style="text-align:center;">

            <qr-scanner-u
              ng-success="pt.qrCodeScanOnSuccess   (data )"
                ng-error="pt.qrCodeScanOnError     (error)"
          ng-video-error="pt.qrCodeScanOnVideoError(error)"
                   width="320"
                  height="200"></qr-scanner-u>

            <span  class="help-block" ng-bind="pt.decodedData"></span>
          </div>

          <div class=" col-md-4">
            <div class="form-group" ng-class="{'has-error':prepaTroncForm.queteurId.$invalid}">
              <label for="queteurId" class="control-label">Recherche du Quêteur</label>
              <input
               id="queteurId"
               type="text"
               ng-model="pt.current.queteur"
               placeholder="Scanner le QRCode de la carte du quêteur"
               uib-typeahead="queteur as queteur.full_name for queteur in pt.searchQueteur($viewValue)"
               typeahead-loading="loadingQueteurs"
               typeahead-no-results="noResults"
               typeahead-wait-ms="350"
               typeahead-select-on-blur="true"
               class="form-control"
               ng-required="true"
               autofocus
               autocomplete="off">
              <i   ng-show="loadingQueteurs" class="glyphicon glyphicon-refresh"></i>
              <div ng-show="noResults">
                <i class="glyphicon glyphicon-remove"></i> Aucun Queteur trouvé
              </div>
              <span class="help-block">Scan QR Code ou saisie manuelle. Champ obligatoire. Nom, Prénom, Nivol, ou Numéro du queteur (dernier chiffre sous le QRCode)</span>
              <div class="alert alert-warning" role="alert" ng-if="false"><strong>ATTENTION</strong>:<br/> En saisie manuelle, ne pas utiliser la touche "TAB" <br/>(petit bug pas encore résolu)</div>
            </div>
            <div class="form-group" ng-class="{'has-error':prepaTroncForm.horaireDepartTheorique.$invalid}" ng-show="pt.current.queteur.id>0 && pt.current.tronc.id > 0">
              <label for="horaireDepartTheorique" class="control-label">Horaire Théorique de Départ</label>
              <input name="horaireDepartTheorique"
                     id="horaireDepartTheorique"
                     type="datetime-local"
                     class="form-control"
                     ng-min="pt.current.horaireDepartTheoriqueNotBefore"
                     ng-model="pt.current.horaireDepartTheorique"
                     ng-required="true"/>
              <span class="help-block" ng-show="prepaTroncForm.horaireDepartTheorique.$error.required">Champ Obligatoire</span>
              <span class="help-block" ng-show="pt.isCurrentTimeBefore1stDayOfQuete()">Aucune préparation/départ n'est permise avant le début de la quête : {{pt.firstDayStr}}</span>
            </div>
          </div>
          <div class=" col-md-4">
            <div class="form-group" ng-class="{'has-error':prepaTroncForm.troncId.$invalid}">
              <label for="troncId" class="control-label">Id Tronc</label>
              <input
                id="troncId"
                type="number"
                ng-model="pt.current.tronc"
                placeholder="Scanner le QRCode du tronc"
                uib-typeahead="tronc as tronc.stringView for tronc in pt.searchTronc($viewValue)"
                typeahead-loading="loadingTroncs"
                typeahead-no-results="noTroncsResults"
                typeahead-wait-ms="350"
                typeahead-select-on-blur="true"
                typeahead-on-select="pt.preparationChecks()"

                class="form-control"
                ng-required="true"
                autocomplete="off">
              <i   ng-show="loadingTroncs" class="glyphicon glyphicon-refresh"></i>
              <div ng-show="noTroncResults">
                <i class="glyphicon glyphicon-remove"></i> Aucun Tronc trouvé
              </div>

              <span class="help-block">Scan QR Code ou saisie manuelle : Le numéro du tronc (les derniers chiffres sous le QRCode). Champ obligatoire.</span>
              <div class="alert alert-warning" role="alert"  ng-if="false"><strong>ATTENTION</strong>:<br/> En saisie manuelle, ne pas utiliser la touche "TAB" <br/>(petit bug pas encore résolu)</div>
            </div>
            <div class="form-group"  ng-show="pt.current.queteurId >0  && pt.current.tronc.id > 0">
              <label for="lieuDeQuete" class="control-label">Lieu de Quête</label>


              <input
                id="lieuDeQuete"
                type="text"
                ng-model="pt.current.lieuDeQuete"
                placeholder="Rechercher le point de quête"
                uib-typeahead="pq as pt.getTypeLabel(pq.type)+' - '+ (pq.code!= '' ? pq.code+' - ': '')+pq.name
                      for
                      pq in pt.pointsQuete | filter: $viewValue"
                typeahead-loading="loadingTroncs"
                typeahead-no-results="noTroncsResults"
                typeahead-wait-ms="350"
                typeahead-select-on-blur="true"
                class="form-control"
                ng-required="true"
                autocomplete="off">
                <i   ng-show="loadingTroncs" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noTroncResults">
                  <i class="glyphicon glyphicon-remove"></i> Aucun Point de Quête trouvé
                </div>
              <span class="help-block">Pour voir toutes les options, tapper la lettre 'e'. Champ obligatoire.</span>
            </div>
          </div>
        </div>


        <div class="row" ng-show="pt.current.queteur.secteur == 3">
          <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-info" role="alert" style="text-align: center;vertical-align: middle;">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="font-size:40px;color:green;"></span>
              Quêteur d'un jour ! Pensez au Briefing avant le départ !
            </div>
          </div>
        </div>
        <div class="row" ng-show="pt.current.queteur.id>0  && pt.current.tronc.id > 0">
          <div class="col-md-8 col-md-offset-4">
            <label for="notesPreparation" class="control-label">Notes à la préparation</label>
            <textarea
                 id="notesPreparation"
               name="notesPreparation"
           ng-model="pt.current.notes_depart_theorique"
              class="form-control"
       ng-maxlength="500"
            ng-trim="true"
            ></textarea>
            <br/>
          </div>
        </div>

        <div class="row" ng-show="pt.savedSuccessfully">
          <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-success alert-dismissible" role="alert" style="text-align: center;">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="pt.savedSuccessfully=false"><span aria-hidden="true">&times;</span></button>
              <strong>Bravo!</strong> La préparation a été sauvegardée avec succès!  <br/>


              <a href="/#!/tronc_queteur/edit/{{pt.previous.id}}"><strong style="color:red;">{</strong> Tronc-Quêteur <strong style="color:red;">}</strong> ID {{pt.previous.id}}</a> -
              <a href="/#!/queteurs/edit/{{pt.previous.queteur.id         }}">Queteur N°
              {{pt.previous.queteur.id         }} -
              {{pt.previous.queteur.first_name }}
              {{pt.previous.queteur.last_name  }}</a>
              avec <a href="/#!/troncs/edit/{{pt.previous.tronc.id           }}">le tronc N°
              {{pt.previous.tronc.id           }}</a>   <br/>
              Sur le <a href="/#!/pointsQuetes/edit/{{pt.previous.lieuDeQuete.id  }}">point de Quete N° {{pt.previous.lieuDeQuete.id     }}
              {{pt.previous.lieuDeQuete.name   }}</a>




            </div>
          </div>
        </div>

        <!-- Error while saving -->
        <div class="row" ng-show="pt.current.queteHasNotStartedYet">
          <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger" role="alert" style="text-align: center;">
              <strong>Attention!</strong> La quête ne commence que le {{pt.firstDayStr}}!
              <h1>Votre tronc n'a pas été sauvegardé !</h1>
            </div>
          </div>
        </div>


        <div class="row" ng-show="pt.errorWhileSaving">
          <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger alert-dismissible" role="alert" style="text-align: center;">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="pt.errorWhileSaving=false"><span aria-hidden="true">&times;</span></button>
              <strong>Oouupps!</strong> Une erreur est survenue lors de la préparation!
              <pre style="text-align: left;">{{pt.errorWhileSavingDetails}}</pre>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-4 col-md-offset-4 form-group">
            <button type="submit"
                    class="btn btn-warning"
                    ng-click="pt.current.preparationAndDepart = true;pt.save();"
                    ng-disabled="prepaTroncForm.$invalid || !pt.isQueteurAllowed() || pt.isCurrentTimeBefore1stDayOfQuete() || pt.current.saveInProgress">Préparer et Départ</button>
            <span class="help-block">C'est l'action exceptionnelle que vous devez utiliser si le tronc n'a pas pu être préparé.</span>
            <span class="help-block" style="color:red;font-weight:bold;" ng-show="pt.isCurrentTimeBefore1stDayOfQuete()">
              Cette fonction est désactivée tant que la quête n'a pas commencé!
              <br/>
              Vous pouvez cependant préparer des troncs avec un départ théorique après le {{pt.firstDayStr}}
            </span>


          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-3 form-group">
            <button type="submit"
                    class="btn btn-warning"
                    ng-click="pt.current.preparationAndDepart = false;pt.save();"
                    ng-disabled="prepaTroncForm.$invalid || !pt.isQueteurAllowed() || pt.current.saveInProgress">Sauvegarder la préparation du tronc</button>
            <span class="help-block">C'est l'action normale que vous devez utiliser 90% du temps</span>
          </div>
        </div>

        <div class="row" ng-show="pt.current.tronc.type == 4">
          <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-warning" role="alert" style="text-align: center;">
              <strong>Attention!</strong> Il s'agit d'un <b>Terminal Carte Bleue</b>!
            </div>
          </div>
        </div>

        <div class="row" ng-show="!prepaTroncForm.$invalid && !pt.isQueteurAllowed()">
          <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger" role="alert" style="text-align: center;">
              <strong>Attention!</strong> le quêteur est mineur et le point de quête n'autorise pas les mineurs.
            </div>
          </div>
        </div>

        <div class="panel panel-info" ng-show="pt.current.lieuDeQuete">
          <div class="panel-heading">Informations sur le Point de Quête</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-2">
                <label for="pqCode" class="control-label">Code</label>
                <input type="text" id="pqCode" value="{{pt.pointsQueteHash[pt.current.lieuDeQuete.id].code}}" class="form-control" readonly/>
              </div>
              <div class="col-md-4">
                <label for="pqName" class="control-label">Nom</label>
                <input type="text" id="pqName" value="{{pt.pointsQueteHash[pt.current.lieuDeQuete.id].name}}" class="form-control" readonly/>
              </div>
              <div class="col-md-4">
                <label for="pqName" class="control-label">Google Maps</label><br/>




                <a ng-href="https://www.google.com/maps/dir/?api=1&travelmode=walking&origin={{pt.current.queteur.ul_latitude}},{{pt.current.queteur.ul_longitude}}&destination={{pt.pointsQueteHash[pt.current.lieuDeQuete.id].latitude}},{{pt.pointsQueteHash[pt.current.lieuDeQuete.id].longitude}}" target="_blank">
                  {{pt.pointsQueteHash[pt.current.lieuDeQuete.id].address}}, {{pt.pointsQueteHash[pt.current.lieuDeQuete.id].postal_code}}, {{pt.pointsQueteHash[pt.current.lieuDeQuete.id].city}}
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label for="pqMaxPeople" class="control-label">Nb de quêteur Max</label>
                <input type="text" id="pqMaxPeople" value="{{pt.pointsQueteHash[pt.current.lieuDeQuete.id].max_people}}" class="form-control" readonly/>
              </div>
              <div class="col-md-4">
                <label for="pqMinorAllowed" class="control-label">Mineur ?</label>
                <input type="text" id="pqMinorAllowed" value="{{pt.pointsQueteHash[pt.current.lieuDeQuete.id].minor_allowed=='1'?'Autorisé':'NON Autorisé'}}" class="form-control" readonly/>
              </div>
              <div class="col-md-4">
                <label for="pqCreated" class="control-label">Date Création du Point de Quête</label>
                <input type="text" id="pqCreated" value="{{pt.pointsQueteHash[pt.current.lieuDeQuete.id].created.date}}" class="form-control" readonly/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <label for="pqType" class="control-label">Type</label>
                <select name="pqType" id="pqType" class="form-control" ng-model="pt.pointsQueteHash[pt.current.lieuDeQuete.id].type" disabled
                        ng-options="(t.id) as t.label
                      for
                      t in pt.typePointQueteList"

                >
                </select>


              </div>
              <div class="col-md-4">
                <label for="pqTimeToReach" class="control-label">Temps moyen pour atteindre le Point de Quête</label>
                <input type="text" id="pqTimeToReach" value="{{pt.pointsQueteHash[pt.current.lieuDeQuete.id].time_to_reach}}" class="form-control" readonly/>
              </div>
              <div class="col-md-4">
                <label for="pqTransportToReach" class="control-label">Type de Transport pour atteindre le point de quête</label>
                <select name="pqTransportToReach" id="pqTransportToReach" class="form-control" ng-model="pt.pointsQueteHash[pt.current.lieuDeQuete.id].transport_to_reach" disabled
                        ng-options="(t.id) as t.label
                      for
                      t in pt.transportPointQueteList"

                >
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="pqAdvice" class="control-label">Infos/Conseils</label>
                <textarea id="pqAdvice" class="form-control" ng-disabled="true">{{pt.pointsQueteHash[pt.current.lieuDeQuete.id].advice}}</textarea>
              </div>
              <div class="col-md-6">
                <label for="pqLocalization" class="control-label">Aide à la localisation</label>
                <textarea id="pqLocalization" class="form-control" ng-disabled="true">{{pt.pointsQueteHash[pt.current.lieuDeQuete.id].localization}}</textarea>
              </div>
            </div>
          </div>
        </div>






      </form>
    </div>
  </div>


</div>

