<acme-navbar xmlns="http://www.w3.org/1999/html"></acme-navbar>
<div class="container">

  <div class="panel panel-primary">
    <div class="panel-heading">Édition du Point de Quête '{{pqe.current.name}}' </div>
  </div>


  <div class="panel panel-info">
    <div class="panel-heading">Informations sur le Point de Quête</div>
    <form novalidate name="pointQueteForm">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqCode.$invalid}">
              <label for="pqCode" class="control-label">Abbréviation</label>
              <input type="text" id="pqCode" name="pqCode" ng-model="pqe.current.code" maxlength="10" class="form-control" ng-disabled="pqe.currentUserRole < 4"/>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqName.$invalid}">
              <label for="pqName" class="control-label">Nom</label>
              <input type="text" id="pqName" name="pqName" ng-model="pqe.current.name" maxlength="100" class="form-control" required autocomplete="name" autofocus ng-disabled="pqe.currentUserRole < 4"/>
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.enabled.$invalid}">
              <label for="pqEnabled1" class="control-label">Actif</label> <br/>
              <label class="radio-inline">
                <input type="radio" name="enabled" id="pqEnabled1" ng-model="pqe.current.enabled" value="true"  required ng-checked="pqe.current.enabled===true"  ng-disabled="pqe.currentUserRole < 4"> Oui
              </label>
              <label class="radio-inline">
                <input type="radio" name="enabled" id="pqEnabled2" ng-model="pqe.current.enabled" value="false" required ng-checked="pqe.current.enabled===false"  ng-disabled="pqe.currentUserRole < 4"> Non
              </label>
            </div>
          </div>


          <div class="col-md-2 ">
            <label for="pqID" class="control-label">id</label>
            <input type="text" id="pqID" name="pqID" ng-model="pqe.current.id" class="form-control" readonly/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqAddress.$invalid}">
              <label for="pqAddress" class="control-label">Adresse</label>
              <input type="text" id="pqAddress" name="pqAddress" ng-model="pqe.current.address" maxlength="70"  class="form-control" required autocomplete="address" ng-disabled="pqe.currentUserRole < 4"/>
            </div>
          </div>
          <div class="col-md-1">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqPostalCode.$invalid}">
              <label for="pqPostalCode" class="control-label" style="font-size: 11px;">Code Postal</label>
              <input type="text" id="pqPostalCode" name="pqPostalCode" ng-model="pqe.current.postal_code" maxlength="15" class="form-control" required autocomplete='postal-code'  ng-disabled="pqe.currentUserRole < 4"/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqCity.$invalid}">
              <label for="pqCity" class="control-label">Ville</label>
              <input type="text" id="pqCity" name="pqCity" ng-model="pqe.current.city" class="form-control" maxlength="70"  required autocomplete='address-level2' ng-disabled="pqe.currentUserRole < 4"/>
            </div>
          </div>
          <div class="col-md-2" ng-show="pqe.currentUserRole >= 4">
            <br/>
            <button type="button" class="btn btn-primary" ng-click="pqe.geoCodeAddress();"><span class="glyphicon glyphicon-arrow-down"></span> Géo Coder</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqLatitude.$invalid}">
              <label for="pqLatitude" class="control-label">Latitude</label>
              <input type="text" id="pqLatitude" name="pqLatitude" ng-model="pqe.current.latitude" class="form-control"    ng-maxlength="18" required ng-pattern="pqe.latlongRegExp" ng-disabled="pqe.currentUserRole < 4"/>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqLongitude.$invalid}">
              <label for="pqLongitude" class="control-label">Longitude</label>
              <input type="text" id="pqLongitude" name="pqLongitude" ng-model="pqe.current.longitude" class="form-control" ng-maxlength="18" required ng-pattern="pqe.latlongRegExp" ng-disabled="pqe.currentUserRole < 4"/>
            </div>
          </div>
          <div class="col-md-8">
            <div ng-show="pqe.geocoded.display_prompt && pqe.currentUserRole >= 4">
              <label class="control-label">Suggestion Google Maps pour le nouvel emplacement :</label>
              <button type="button" class="btn btn-primary" ng-click="pqe.copyGoogleMapsSuggestion();"><span class="glyphicon glyphicon-arrow-up"></span> Recopier l'adresse suggérée : {{pqe.geocoded.formatted_address}}</button>
            </div>
            <div ng-show="pqe.current.currentUserLocationNotAvailable == 2" class="alert alert-warning" role="alert">
              <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" style="font-size: 20px;"></span> Votre navigateur ne supporte pas la fonction de géolocalisation.
              Veuillez remplir l'adresse et cliquer sur GéoCoder, puis déplacer le marqueur à l'emplacement voulu pour le point de quête.
            </div>
            <div ng-show="pqe.current.currentUserLocationNotAvailable == 1" class="alert alert-warning" role="alert">
              <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" style="font-size: 20px;"></span> Une erreur est survenue en tentant de vous géolocaliser.
              Veuillez remplir l'adresse et cliquer sur GéoCoder, puis déplacer le marqueur à l'emplacement voulu pour le point de quête.
            </div>

            <div ng-show="pqe.current.errorWhileReverseGeoCoding" class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size: 20px;"></span> Une erreur est survenue en tentant de trouver la nouvelle adresse du marqueur.
              Veuillez essayer de déplacer le marqueur à un autre endroit.
            </div>

            <div ng-show="pqe.current.errorWhileGeoCoding" class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size: 20px;"></span> Une erreur est survenue en tentant de trouver les coordonnées GPS de l'adresse.
              Veuillez vérifier l'adresse, la corriger, ou essayer une autre addresse proche de la cible.
            </div>

          </div>
        </div>
        <div class="row">
          <div map-lazy-load="https://maps.google.com/maps/api/js"
               map-lazy-load-params="https://maps.googleapis.com/maps/api/js?key={{pqe.settings.mapKey}}"> <!---->
            <ng-map id="map"
                    center="{{pqe.current.latitude}},{{pqe.current.longitude}}"
                    zoom="15">
              <marker   position="{{pqe.current.latitude}},{{pqe.current.longitude}}"
                           title="{{pqe.current.name}}"
                      on-dragend="pqe.updateCoordinatesAndAddress($event)"
                       animation="Animation.BOUNCE"
                       animation="DROP"
                       draggable="true"></marker>
            </ng-map>
          </div>
          <span class="help-block">Vous pouvez déplacer l'icone sur la carte pour ajuster précisément l'emplacement du point de quête.</span>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqMaxPeople.$invalid}">
              <label for="pqMaxPeople" class="control-label">Nb de quêteur Max</label>
              <input type="number"
                     ng-pattern="pqe.onlyNumbers"
                     id="pqMaxPeople"
                     name="pqMaxPeople"
                     ng-model="pqe.current.max_people"
                     class="form-control" required
                     ng-disabled="pqe.currentUserRole < 4"
              />
            </div>
          </div>
          <div class="col-md-4">


            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqMinorAllowed.$invalid}">
              <label for="pqMinorAllowed1" class="control-label">Mineur Autorisé?</label> <br/>
              <label class="radio-inline">
                <input type="radio" name="pqMinorAllowed" id="pqMinorAllowed1" ng-model="pqe.current.minor_allowed" value="true"  required ng-checked="pqe.current.minor_allowed===true" ng-disabled="pqe.currentUserRole < 4"> Oui
              </label>
              <label class="radio-inline">
                <input type="radio" name="pqMinorAllowed" id="pqMinorAllowed2" ng-model="pqe.current.minor_allowed" value="false" required ng-checked="pqe.current.minor_allowed===false" ng-disabled="pqe.currentUserRole < 4"> Non
              </label>
            </div>


          </div>
          <div class="col-md-4">
            <label for="pqCreated" class="control-label">Date Création du Point de Quête</label>
            <input type="text" id="pqCreated" name="pqCreated" ng-model="pqe.current.created" class="form-control" readonly/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqType.$invalid}">
              <label for="pqType" class="control-label">Type</label>
              <select name="pqType" id="pqType" class="form-control" ng-model="pqe.current.type" required placeholder="Type de point de quête"   ng-disabled="pqe.currentUserRole < 4"
                      ng-options="(t.id) as t.label
                      for
                      t in pqe.typePointQueteList"

              >
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqTimeToReach.$invalid}">
              <label for="pqTimeToReach" class="control-label">Temps en minute pour atteindre le Point de Quête</label>
              <div class="input-group">
                <input type="number"
                       min="0"
                       id="pqTimeToReach"
                       name="pqTimeToReach"
                       ng-model="pqe.current.time_to_reach"
                       class="form-control input-fix-mousewheel"
                       required
                       ng-disabled="pqe.currentUserRole < 4"/>
                <span class="input-group-addon glyphicon glyphicon-stopwatch"      style="top:0px;"   aria-hidden="true"></span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqTransportToReach.$invalid}">
              <label for="pqTransportToReach" class="control-label">Type de Transport pour atteindre le point de quête</label>
              <select name="pqTransportToReach" id="pqTransportToReach" class="form-control" ng-model="pqe.current.transport_to_reach" required    ng-disabled="pqe.currentUserRole < 4"
                      ng-options="(t.id) as t.label
                      for
                      t in pqe.transportPointQueteList"

              >
              </select>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqAdvice.$invalid}">
              <label for="pqAdvice" class="control-label">Infos/Conseils</label>
              <textarea id="pqAdvice" name="pqAdvice" class="form-control"  ng-model="pqe.current.advice" ng-disabled="pqe.currentUserRole < 4"></textarea>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqLocalization.$invalid}">
              <label for="pqLocalization" class="control-label">Aide à la localisation</label>
              <textarea id="pqLocalization" name="pqLocalization" class="form-control" ng-model="pqe.current.localization" ng-disabled="pqe.currentUserRole < 4"></textarea>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
          <div class="col-md-2 col-md-offset-1">
            <a ng-href="/#!/pointsQuetes" class="btn btn-link">Annuler</a>
          </div>
          <div class="col-md-2 col-md-offset-1">
            <button type="button" class="btn btn-primary" ng-show="pqe.currentUserRole >= 4 && pqe.current.id > 0 " ng-click="pqe.createNewPointQuete()">Créer un nouveau point de quête</button>
          </div>

          <div class="col-md-2 col-md-offset-3">
            <button type="button" class="btn btn-primary" ng-disabled="pointQueteForm.$invalid" ng-show="pqe.currentUserRole >= 4" ng-click='pqe.save();'>Sauvegarder</button>
          </div>
        </div>


        <!-- Successful Save -->
        <div class="row" ng-show="pqe.savedSuccessfully">
          <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-success alert-dismissible" role="alert" style="text-align: center;">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="pqe.savedSuccessfully=false"><span aria-hidden="true">&times;</span></button>
              <strong>Bravo!</strong> Le point de quête a été sauvegardé avec succès!
            </div>
          </div>
        </div>
        <!-- Error while saving -->
        <div class="row" ng-if="pqe.errorWhileSaving==true">
          <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger alert-dismissible" role="alert" style="text-align: center;">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="pqe.errorWhileSaving=false"><span aria-hidden="true">&times;</span></button>
              <strong>Oouupps!</strong> Une erreur est survenue lors de la sauvegarde du point de quête!
              <pre style="text-align: left;">{{pqe.errorWhileSavingDetails}}</pre>
            </div>
          </div>
        </div>



      </div>
    </form>
  </div>

</div>
