<acme-navbar></acme-navbar>
<div class="container" data-ng-controller="EditPointQueteController as pqe">

  <div class="panel panel-primary">
    <div class="panel-heading">Édition du Point de Quête '{{pqe.current.name}}' </div>
  </div>


  <div class="panel panel-info">
    <div class="panel-heading">Informations sur le Point de Quête</div>
    <form novalidate name="pointQueteForm">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqCode.$invalid}">
              <label for="pqCode" class="control-label">Code</label>
              <input type="text" id="pqCode" name="pqCode" ng-model="pqe.current.code" class="form-control" required/>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqName.$invalid}">
              <label for="pqName" class="control-label">Nom</label>
              <input type="text" id="pqName" name="pqName" ng-model="pqe.current.name" class="form-control" required/>
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.enabled.$invalid}">
              <label for="pqEnabled1" class="control-label">Actif</label> <br/>
              <label class="radio-inline">
                <input type="radio" name="enabled" id="pqEnabled1" ng-model="pqe.current.enabled" value="1" required> Oui
              </label>
              <label class="radio-inline">
                <input type="radio" name="enabled" id="pqEnabled2" ng-model="pqe.current.enabled" value="0" required> Non
              </label>
            </div>
          </div>


          <div class="col-md-2 ">
            <label for="pqID" class="control-label">id</label>
            <input type="text" id="pqID" name="pqID" ng-model="pqe.current.id" class="form-control" readonly/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqAddress.$invalid}">
              <label for="pqAddress" class="control-label">Adresse</label>
              <input type="text" id="pqAddress" name="pqAddress" ng-model="pqe.current.address" class="form-control" required/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqPostalCode.$invalid}">
              <label for="pqPostalCode" class="control-label">Code Postal</label>
              <input type="text" id="pqPostalCode" name="pqPostalCode" ng-model="pqe.current.postal_code" class="form-control" required/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqCity.$invalid}">
              <label for="pqCity" class="control-label">Ville</label>
              <input type="text" id="pqCity" name="pqCity" ng-model="pqe.current.city" class="form-control" required/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqLatitude.$invalid}">
              <label for="pqLatitude" class="control-label">Latitude</label>
              <input type="text" id="pqLatitude" name="pqLatitude" ng-model="pqe.current.latitude" class="form-control"    ng-maxlength="11" required/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqLongitude.$invalid}">
              <label for="pqLongitude" class="control-label">Longitude</label>
              <input type="text" id="pqLongitude" name="pqLongitude" ng-model="pqe.current.longitude" class="form-control" ng-maxlength="11" required/>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqMaxPeople.$invalid}">
              <label for="pqMaxPeople" class="control-label">Nb de quêteur Max</label>
              <input type="text" id="pqMaxPeople" name="pqMaxPeople" ng-model="pqe.current.max_people" class="form-control" required/>
            </div>
          </div>
          <div class="col-md-4">


            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqMinorAllowed.$invalid}">
              <label for="pqMinorAllowed1" class="control-label">Mineur Autorisé?</label> <br/>
              <label class="radio-inline">
                <input type="radio" name="pqMinorAllowed" id="pqMinorAllowed1" ng-model="pqe.current.minor_allowed" value="1" required> Oui
              </label>
              <label class="radio-inline">
                <input type="radio" name="pqMinorAllowed" id="pqMinorAllowed2" ng-model="pqe.current.minor_allowed" value="0" required> Non
              </label>
            </div>


          </div>
          <div class="col-md-4">
            <label for="pqCreated" class="control-label">Date Création du Point de Quête</label>
            <input type="text" id="pqCreated" name="pqCreated" ng-model="pqe.current.created" class="form-control" readonly/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqType.$invalid}">
              <label for="pqType" class="control-label">Type</label>
              <input type="text" id="pqType" name="pqType" ng-model="pqe.current.type" class="form-control" required/>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqTimeToReach.$invalid}">
              <label for="pqTimeToReach" class="control-label">Temps moyen pour atteindre le Point de Quête</label>
              <input type="text" id="pqTimeToReach" name="pqTimeToReach" ng-model="pqe.current.time_to_reach" class="form-control"/>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqTransportToReach.$invalid}">
              <label for="pqTransportToReach" class="control-label">Type de Transport pour atteindre le point de quête</label>
              <input type="text" id="pqTransportToReach" name="pqTransportToReach" ng-model="pqe.current.transport_to_reach" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqAdvice.$invalid}">
              <label for="pqAdvice" class="control-label">Infos/Conseils</label>
              <textarea id="pqAdvice" name="pqAdvice" class="form-control"  ng-model="pqe.current.advice"></textarea>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" ng-class="{'has-error':pointQueteForm.pqLocalization.$invalid}">
              <label for="pqLocalization" class="control-label">Aide à la localisation</label>
              <textarea id="pqLocalization" name="pqLocalization" class="form-control" ng-model="pqe.current.localization"></textarea>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
          <div class="col-md-2 col-md-offset-1">
            <a ng-href="/#!/pointsQuetes" class="btn btn-link">Cancel</a>
          </div>
          <div class="col-md-2 col-md-offset-1">
            <input type="button" class="btn btn-primary" value="Créer un nouveau point de quête" ng-show="pqe.current.id > 0 " ng-click="pqe.createNewPointQuete()"/>
          </div>

          <div class="col-md-2 col-md-offset-3">
            <input type="button" class="btn btn-primary" value="Save" ng-disabled="pointQueteForm.$invalid" ng-show="pqe.currentUserRole>1" ng-click='pqe.save();'/>
          </div>
        </div>


        <!-- Successful Save -->
        <div class="row" ng-show="pqe.savedSuccessfully">
          <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-success alert-dismissible" role="alert" style="text-align: center;">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="pqe.savedSuccessfully=false"><span aria-hidden="true">&times;</span></button>
              <strong>Bravo!</strong> Le point de quête a été sauvegardé avec succès!
            </div>
          </div>
        </div>
        <!-- Error while saving -->
        <div class="row" ng-show="pqe.errorWhileSaving">
          <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger alert-dismissible" role="alert" style="text-align: center;">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="pqe.errorWhileSaving=false"><span aria-hidden="true">&times;</span></button>
              <strong>Oouupps!</strong> Une erreur est survenue lors de la sauvegarde du point de quête!
              <pre style="text-align: left;">{{pqe.errorWhileSavingDetails}}</pre>
            </div>
          </div>
        </div>



      </div>
    </form>
  </div>

</div>
