<acme-navbar></acme-navbar>
<div class="container">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-4">
          <h5>Les Inscriptions des Quêteurs</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="well">
    <form class="form-search" name="searchForm" novalidate ng-submit='lr.doSearch();'>
      <div class="row">

        <div class="col-md-4">
          <div class="form-group">
            <label for="registrationStatus" class="control-label">Status de l'inscription </label>

            <select name="registrationStatus" id="registrationStatus" placeholder="Type de point de quête"  class="form-control" ng-model="lr.registrationStatus" required
                    ng-options="(t.id) as t.label
                      for
                      t in lr.registrationStatusList"
            >
            </select>

            Nombre d'inscriptions: <span class="badge">{{lr.rowCount}}</span>
          </div>
        </div>
        <div class="col-md-1">
          <br/>
          <input type="submit" class="btn btn-primary" value="Rechercher" />
        </div>
      </div>
    </form>
  </div>


  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="text-align:center;">
      <ul uib-pagination ng-change="lr.doSearch()" boundary-links="true" total-items="lr.rowCount" ng-model="lr.pageNumber" items-per-page="30" max-size="10" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
    </div>
  </div>
  <div class="row">

    <table class="table table-hover table-condensed histo">
      <thead>
      <tr>
        <th>ID                </th>
        <th>NIVOL             </th>
        <th>Prénom            </th>
        <th>Nom               </th>
        <th>Civilité          </th>
        <th>email             </th>
        <th>mobile            </th>
        <th>Date d'Inscription</th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="r in lr.registrations">
        <td><a ng-href="/#!/queteurs/edit/{{::r.id}}?registration=1">{{::r.id         }}</a></td>
        <td><a ng-href="/#!/queteurs/edit/{{::r.id}}?registration=1">{{::r.nivol      }}</a></td>
        <td><a ng-href="/#!/queteurs/edit/{{::r.id}}?registration=1">{{::r.first_name }}</a></td>
        <td><a ng-href="/#!/queteurs/edit/{{::r.id}}?registration=1">{{::r.last_name  }}</a></td>
        <td><a ng-href="/#!/queteurs/edit/{{::r.id}}?registration=1">{{::r.man? 'Homme' : 'Femme'}}</a></td>
        <td><a ng-href="/#!/queteurs/edit/{{::r.id}}?registration=1">{{::r.email      }}</a></td>
        <td><a ng-href="/#!/queteurs/edit/{{::r.id}}?registration=1">{{::r.mobile     }}</a></td>
        <td><a ng-href="/#!/queteurs/edit/{{::r.id}}?registration=1">{{::r.created    }}</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="text-align:center;">
      <ul uib-pagination ng-change="lr.doSearch()" boundary-links="true" total-items="lr.rowCount" ng-model="lr.pageNumber" items-per-page="30" max-size="10" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
    </div>
  </div>

</div>
