<acme-navbar></acme-navbar>
<div class="container" data-ng-controller="RetourTroncController as rt">


  <div class="panel panel-primary"  style="background-color: #5bc0de!important;border-color:#5bc0de!important;">
    <div class="panel-heading" style="background-color: #5bc0de!important;border-color:#5bc0de!important;"><h2>Retour Tronc</h2>
      <span ng-show="rt.current.tronc">
        N° {{rt.current.tronc.id}} -
           {{rt.current.tronc_queteur.queteur.first_name}}
           {{rt.current.tronc_queteur.queteur.last_name}} -
           {{rt.current.tronc_queteur.queteur.nivol}} -
        parti depuis '<b>{{rt.current.tronc_queteur.departStr}}</b>'
        du point de quête '<b>{{rt.current.tronc_queteur.point_quete.name}}</b>'</span></div>
  </div>


  <div class="col-xs-12">
    <div class="well">
        <form novalidate ng-submit='rt.save();' name="retourTroncForm">
          <div class="row">
            <div class="form-group col-md-4"  style="text-align:center;" ng-if="!rt.current.readOnlyView">

              <qr-scanner
                ng-success="rt.qrCodeScanOnSuccess(data)"
                ng-error="rt.qrCodeScanOnError(error)"
                ng-video-error="rt.qrCodeScanOnVideoError(error)"
                width="320"
                height="200"></qr-scanner>

              <span class="help-block" ng-bind="departTronc.decodedData"></span>
            </div>

            <div class="form-group  col-md-4" ng-class="{'has-error':retourTroncForm.troncId.$invalid}">
              <label for="troncId" class="control-label">Id Tronc</label>
              <input
                id="troncId"
                type="text"
                ng-model="rt.current.tronc"
                placeholder="Scanner le QRCode du tronc"
                uib-typeahead="tronc as tronc.id for tronc in rt.searchTronc($viewValue)"
                typeahead-loading="loadingTroncs"
                typeahead-no-results="noTroncsResults"
                typeahead-wait-ms="20"
                class="form-control"
                ng-required
                ng-disabled="rt.current.readOnlyView"
                autocomplete="off">
              <i   ng-show="loadingTroncs" class="glyphicon glyphicon-refresh"></i>
              <div ng-show="noTroncResults">
                <i class="glyphicon glyphicon-remove"></i> Aucun Tronc trouvé
              </div>

              <span class="help-block">Scan QR Code, avec mode secours saisie manuelle</span>
            </div>



            <div class="form-group col-md-4" ng-class="{'has-error':retourTroncForm.retour.$invalid}" ng-show="rt.current.tronc">
              <label for="retour" class="control-label">Horaire réelle de Retour</label>
              <input name="retour"
                     id="retour"
                     type="datetime-local"
                     class="form-control"
                     ng-model="rt.current.tronc_queteur.retour"
                     ng-min="rt.current.tronc_queteur.depart"
                     required/>

              <span class="help-block" ng-show="rt.current.fillTronc">
                La date de retour est <b>déjà</b> enregistrée, vous êtes en train de l'éditer ! <br/>
                Si vous pensiez faire un premier enregistrement cliquez sur <b>cancel</b>
              </span>

              <span class="help-block" ng-show="retourTroncForm.retour.$invalid">
                La date de retour doit être postérieur à la date de départ <br/>
              </span>
            </div>

          </div>


          <div class="row" >
            <div class="form-group col-md-2 col-md-offset-10">
              <input type="submit" class="btn btn-primary" value="Save" ng-disabled="retourTroncForm.$invalid" ng-if="!rt.current.readOnlyView" />
              <a  ng-click="rt.back();" class="btn btn-link">Cancel</a>
            </div>
          </div>

          <div class="row" ng-show="rt.savedSuccessfully">
            <div class="col-md-8 col-md-offset-2">
              <div class="alert alert-success alert-dismissible" role="alert" style="text-align: center;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="rt.savedSuccessfully=false"><span aria-hidden="true">&times;</span></button>
                <strong>Bravo!</strong> L'horaire de retour a été sauvegardé avec succès!
              </div>
            </div>
          </div>



        </form>
      </div>
    </div>
  </div>
</div>
