
<div class="container" data-ng-controller="RetourTroncController as rt">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

<div class="container">

  <div class="panel panel-primary">
    <div class="panel-heading">Retour Tronc
      <span ng-show="rt.current.tronc">
        N° {{rt.current.tronc.id}} -
           {{rt.current.tronc_queteur.queteur.first_name}}
           {{rt.current.tronc_queteur.queteur.last_name}} -
           {{rt.current.tronc_queteur.queteur.nivol}} -
        parti depuis <b>{{rt.current.tronc_queteur.timeSinceDepart}}</b>
        au point de quête '<b>{{rt.current.tronc_queteur.point_quete.name}}</b>'</span></div>
  </div>


  <div class="col-xs-12">
    <div class="well">


        <form novalidate ng-submit='rt.save();' name="retourTroncForm">

          <div class="row">

            <div class="form-group col-md-4">
              <qr-scanner
                ng-success="rt.qrCodeScanOnSuccess(data)"
                ng-error="rt.qrCodeScanOnError(error)"
                ng-video-error="rt.qrCodeScanOnVideoError(error)"
                width="320"
                height="200"/>

              <span ng-bind="departTronc.decodedData"></span>
            </div>

            <div class="form-group  col-md-4" ng-class="{'has-error':retourTroncForm.troncId.$invalid}">
              <label for="troncId" class="control-label">Id Tronc</label>
              <input
                id="troncId"
                type="text"
                ng-model="rt.current.tronc"
                placeholder="Scanner le QRCode du tronc"
                uib-typeahead="tronc as tronc.stringView for tronc in rt.searchTronc($viewValue)"
                typeahead-loading="loadingTroncs"
                typeahead-no-results="noTroncsResults"
                typeahead-wait-ms="20"
                class="form-control"
                ng-required
                autocomplete="off">
              <i   ng-show="loadingTroncs" class="glyphicon glyphicon-refresh"></i>
              <div ng-show="noTroncResults">
                <i class="glyphicon glyphicon-remove"></i> Aucun Tronc trouvé
              </div>

              <span class="help-block">Scan QR Code, avec mode secours saisie manuelle</span>
            </div>



            <div class="form-group col-md-4" ng-class="{'has-error':retourTroncForm.retour.$invalid}" ng-show="rt.current.tronc">
              <label for="retour" class="control-label">Horaire réelle de Retour</label>
              <input name="retour"
                     id="retour"
                     type="datetime-local"
                     class="form-control"
                     ng-model="rt.current.tronc_queteur.retour"
                     ng-min="rt.current.tronc._queteur.depart"
                     ng-readonly="rt.current.fillTronc"
                     required/>
              <span class="help-block">Vous pouvez rentrer seulement l'horaire de retour, et remplir les montants ultérieurement</span>
            </div>


            <div class="form-group col-md-4" ng-hide="retourTroncForm.retour.$error.required">
              <label for="fillTronc" class="control-label">Saisir les montants par pièces ?</label>
              <input name="fillTronc"
                     id="fillTronc"
                     type="checkbox"
                     class="form-control"
                     ng-model="rt.current.fillTronc"
              />
              <span class="help-block">Cocher cette case pour remplir les montants récoltés maintenant</span>
            </div>



          </div>




        <div ng-show="rt.current.fillTronc">
          <div class="row">
            <div class="form-group  col-md-2 col-md-offset-4" ng-class="{'has-error':retourTroncForm.euro2.$invalid}">
              <label for="euro2" class="control-label">2€</label>
              <input name="euro2" id="euro2" class="form-control" ng-model="retourTronc.current.euro2" ng-required="rt.current.fillTronc"/>
              <span class="help-block">{{retourTronc.current.euro2}}</span>
            </div>

            <div class="form-group  col-md-2" ng-class="{'has-error':retourTroncForm.euro1.$invalid}">
              <label for="euro1" class="control-label">1€</label>
              <input name="euro1" id="euro1" class="form-control" ng-model="retourTronc.current.euro1" ng-required="rt.current.fillTronc"/>
            </div>
          </div>

          <div class="row">

            <div class="form-group  col-md-2" ng-class="{'has-error':retourTroncForm.cents50.$invalid}">
              <label for="cents50" class="control-label">50 cents</label>
              <input name="cents50" id="cents50" class="form-control" ng-model="retourTronc.current.cents50" ng-required="rt.current.fillTronc"/>
            </div>

            <div class="form-group  col-md-2" ng-class="{'has-error':retourTroncForm.cents20.$invalid}">
              <label for="cents20" class="control-label">20 cents</label>
              <input name="cents20" id="cents20" class="form-control" ng-model="retourTronc.current.cents20" ng-required="rt.current.fillTronc"/>
            </div>

            <div class="form-group  col-md-2" ng-class="{'has-error':retourTroncForm.cents10.$invalid}">
              <label for="cents10" class="control-label">10 cents</label>
              <input name="cents10" id="cents10" class="form-control" ng-model="retourTronc.current.cents10" ng-required="rt.current.fillTronc"/>
            </div>

            <div class="form-group  col-md-2" ng-class="{'has-error':retourTroncForm.cents05.$invalid}">
              <label for="cents05" class="control-label">5 cents</label>
              <input name="cents05" id="cents05" class="form-control" ng-model="retourTronc.current.cents05" ng-required="rt.current.fillTronc"/>
            </div>

            <div class="form-group  col-md-2" ng-class="{'has-error':retourTroncForm.cents02.$invalid}">
              <label for="cents02" class="control-label">2 cents</label>
              <input name="cents02" id="cents02" class="form-control" ng-model="retourTronc.current.cents02" ng-required="rt.current.fillTronc"/>
            </div>

            <div class="form-group  col-md-2" ng-class="{'has-error':retourTroncForm.cents01.$invalid}">
              <label for="cents01" class="control-label">1 cent</label>
              <input name="cents01" id="cents01" class="form-control" ng-model="retourTronc.current.cents01" ng-required="rt.current.fillTronc"/>
            </div>

          </div>
          <div class="row">

            <div class="form-group  col-md-2" ng-class="{'has-error':retourTroncForm.euro5.$invalid}">
              <label for="euro5" class="control-label">5€</label>
              <input name="euro5" id="euro5" class="form-control" ng-model="retourTronc.current.euro5" ng-required="rt.current.fillTronc"/>
            </div>

            <div class="form-group  col-md-2" ng-class="{'has-error':retourTroncForm.euro10.$invalid}">
              <label for="euro10" class="control-label">10€</label>
              <input name="euro10" id="euro10" class="form-control" ng-model="retourTronc.current.euro10" ng-required="rt.current.fillTronc"/>
            </div>

            <div class="form-group  col-md-2" ng-class="{'has-error':retourTroncForm.euro20.$invalid}">
              <label for="euro20" class="control-label">20€</label>
              <input name="euro20" id="euro20" class="form-control" ng-model="retourTronc.current.euro20" ng-required="rt.current.fillTronc"/>
            </div>

            <div class="form-group  col-md-2" ng-class="{'has-error':retourTroncForm.euro50.$invalid}">
              <label for="euro50" class="control-label">50€</label>
              <input name="euro50" id="euro50" class="form-control" ng-model="retourTronc.current.euro50" ng-required="rt.current.fillTronc"/>
            </div>

            <div class="form-group  col-md-2" ng-class="{'has-error':retourTroncForm.euro100.$invalid}">
              <label for="euro100" class="control-label">100€</label>
              <input name="euro100" id="euro100" class="form-control" ng-model="retourTronc.current.euro100" ng-required="rt.current.fillTronc"/>
            </div>

            <div class="form-group  col-md-1" ng-class="{'has-error':retourTroncForm.euro200.$invalid}">
              <label for="euro200" class="control-label">200€</label>
              <input name="euro200" id="euro200" class="form-control" ng-model="retourTronc.current.euro200" ng-required="rt.current.fillTronc"/>
            </div>

            <div class="form-group  col-md-1" ng-class="{'has-error':retourTroncForm.euro500.$invalid}">
              <label for="euro500" class="control-label">500€</label>
              <input name="euro500" id="euro500" class="form-control" ng-model="retourTronc.current.euro500" ng-required="rt.current.fillTronc"/>
            </div>
           </div>
        </div>

          <div class="row">
            <div class="form-group">
              <input type="submit" class="btn btn-primary" value="Save" ng-disabled="retourTroncForm.$invalid" />
              <a ng-href="#/list" class="btn btn-link">Cancel</a>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>


</div>
</div>
