<style>.newVersion-modal-dialog .modal-dialog {width: 90%;} </style>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color:#5AADBB;">
        <span class="glyphicon glyphicon-plus" style="font-weight:bolder;color:#E3001B;"></span> RedCrossQuest
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li style="padding-top:17px;" ng-click="vm.goToChangelog()">

          <span ng-show="vm.deploymentType=='P'" class="label label-danger" >PROD</span>
          <span ng-show="vm.deploymentType=='D'" class="label label-primary">DEV </span>
          <span ng-show="vm.deploymentType=='T'" class="label label-info"   >TEST</span><br/>
          <small style="color:silver;">v{{vm.RCQVersion}}</small>
        </li>
        <li ng-class="{'nav-active':vm.currentPath=='/queteurs'}"                  ><a ng-href="/#!/queteurs"                   ng-show="vm.currentUlMode >= 2"  style="padding-right:5px !important;"><span class="glyphicon glyphicon-group big-icon"      aria-hidden="true"></span>&nbsp;&nbsp;Quêteurs</a></li>
        <li ng-class="{'nav-active':vm.currentPath=='/queteurs/pendingValidation'}"><a ng-href="/#!/queteurs/pendingValidation" ng-show="vm.currentUserRole>1 && vm.currentUlMode >= 2" style="padding-left:0px !important;padding-top:17px;" ng-class="vm.pendingQueteurRegistrationCount>0 ? 'pendingQueteurCount':'pendingQueteurCountZero'"><span class="badge">{{vm.pendingQueteurRegistrationCount}}</span></a></li>
        <li ng-class="{'nav-active':vm.currentPath=='/queteurs/edit'}"             ><a ng-href="/#!/queteurs/edit"              ng-show="vm.currentUserRole>1 && vm.currentUlMode >= 2" style="padding-left:0px !important;padding-right:0px !important;"><span class="glyphicon glyphicon-user-add big-icon" aria-hidden="true"></span></a></li>
        <li ng-class="{'nav-active':vm.currentPath=='/troncs/prepa'}"              ><a ng-href="/#!/troncs/prepa"               ng-show="vm.currentUserRole>1 && vm.currentUlMode >= 2"><span class="glyphicon glyphicon-clock    big-icon" aria-hidden="true"></span><span ng-show="vm.currentUlMode == 3">&nbsp;&nbsp;Préparation</span><span ng-show="vm.currentUlMode == 2">&nbsp;&nbsp;Déclaration</span></a></li>
        <li ng-class="{'nav-active':vm.currentPath=='/troncs/depart'}"             ><a ng-href="/#!/troncs/depart"              ng-show="vm.currentUserRole>1 && vm.currentUlMode >= 3"><span class="glyphicon glyphicon-log-out  big-icon" aria-hidden="true"></span>&nbsp;&nbsp;Départ</a></li>
        <li ng-class="{'nav-active':vm.currentPath=='/troncs/retour'}"             ><a ng-href="/#!/troncs/retour"              ng-show="vm.currentUserRole>1 && vm.currentUlMode >= 3"><span class="glyphicon glyphicon-log-in   big-icon" aria-hidden="true"></span>&nbsp;&nbsp;Retour</a></li>
        <li ng-class="{'nav-active':vm.currentPath=='/tronc_queteur/'}"            ><a ng-href="/#!/tronc_queteur"              ng-show="vm.currentUserRole>2 && vm.currentUlMode >= 2" style="padding-right:0px !important;"><span class="glyphicon glyphicon-coins    big-icon" aria-hidden="true"></span>&nbsp;&nbsp;Comptage</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li style="margin-right:10px;">
          <div class="btn-group" uib-dropdown keyboard-nav>
            <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle style="margin-top:8px">
              <span class="glyphicon glyphicon-adjust-alt"         aria-hidden="true"></span> Menu <span class="caret"></span>

            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
              <li role="menuitem"><a ng-href="/#!/graph"         ng-show="vm.currentUserRole>0 && vm.currentUlMode >= 1"><span class="glyphicon glyphicon-charts   big-icon" aria-hidden="true"></span>&nbsp;&nbsp;Graphiques</a></li>
              <li class="divider"></li>
              <li role="menuitem"><a ng-href="/#!/pointsQuetes"   ><span class="glyphicon glyphicon-nearby-circle"  aria-hidden="true"></span> Points de Quêtes</a></li>
            </ul>
          </div>
        </li>
        <li style="margin-right:10px;">
          <button type="button"  ng-model="singleModel" class="btn btn-danger" uib-btn-checkbox ng-click="vm.logout();" style="margin-top:8px">
            <span class="glyphicon glyphicon-power"         aria-hidden="true"></span> Logout
          </button>
        </li>
        <li class="dropdown">
          <div class="btn-group" uib-dropdown keyboard-nav ng-show="vm.currentUserRole>3">
            <button id="simple-btn-keyboard-nav2" type="button" class="btn btn-primary" uib-dropdown-toggle style="margin-top:8px">
              <span class="glyphicon glyphicon-adjust-alt"         aria-hidden="true"></span> Administration <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
              <li role="menuitem" ng-show="vm.currentUlMode >= 2"><a ng-href="/#!/troncs"         ><span class="glyphicon glyphicon-cd"             aria-hidden="true"></span> Liste des Troncs</a></li>
              <li role="menuitem" ng-show="vm.currentUlMode >= 2"><a ng-href="/#!/pointsQuetes"   ><span class="glyphicon glyphicon-nearby-circle"  aria-hidden="true"></span> Points de Quêtes</a></li>

              <li class="divider" ng-show="vm.currentUlMode >= 2"></li>
              <li role="menuitem" ng-show="vm.currentUlMode >= 2"><a ng-href="/#!/QRCode/troncs"  ><span class="glyphicon glyphicon-qrcode"         aria-hidden="true"></span> Troncs - Impression des QRCode</a></li>
              <li role="menuitem" ng-show="vm.currentUlMode >= 2"><a ng-href="/#!/QRCode/queteurs"><span class="glyphicon glyphicon-qrcode"         aria-hidden="true"></span> Queteurs - Impression des QRCode</a></li>
              <li role="menuitem" ng-show="vm.currentUlMode >= 2"><a ng-href="/#!/QRCode/redQuest"><span class="glyphicon glyphicon-qrcode"         aria-hidden="true"></span> RedQuest - Impression des QRCode</a></li>

              <li class="divider" ng-show="vm.currentUlMode >= 2"></li>
              <li role="menuitem" ng-show="vm.currentUlMode >= 1"><a ng-href="/#!/dailyStats"     ><span class="glyphicon glyphicon-stats "         aria-hidden="true"></span> Résultats Journalier (avant RCQ)</a></li>
              <li role="menuitem" ng-show="vm.currentUlMode >= 2"><a ng-href="/#!/yearlyGoals"    ><span class="glyphicon glyphicon-charts"         aria-hidden="true"></span> Objectifs de quête</a></li>

              <li class="divider" ng-show="vm.currentUlMode >= 2"></li>
              <li role="menuitem" ng-show="vm.currentUlMode >= 2"><a ng-href="/#!/recu_fiscal"    ><span class="glyphicon glyphicon-piggy-bank"     aria-hidden="true"></span> Reçu Fiscal</a></li>

              <li class="divider" ng-show="vm.currentUlMode >= 2"></li>
              <li role="menuitem" ng-show="vm.currentUlMode >= 2"><a ng-href="/#!/settings"       ><span class="glyphicon glyphicon-cogwheels"      aria-hidden="true"></span> Paramétrage de l'UL</a></li>

              <li class="divider" ng-show="vm.currentUlMode >= 2"></li>
              <li role="menuitem" ng-show="vm.currentUlMode >= 2"><a ng-href="/#!/mailing"        ><span class="glyphicon glyphicon-heart"          aria-hidden="true" style="color:red;"></span><span class="glyphicon glyphicon-arrow-right"      aria-hidden="true"></span><span class="glyphicon glyphicon-envelope"      aria-hidden="true"></span> Mailing de Remerciement</a></li>


              <li class="divider" ng-show="vm.currentUlMode >= 2"></li>
              <li role="menuitem" ng-show="vm.currentUlMode >= 2"><a ng-href="/#!/exportData"     ><span class="glyphicon glyphicon-file-cloud-download"      aria-hidden="true"></span>&nbsp;&nbsp;Export des données de L'UL</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- Modal window in case of error -->
<script type="text/ng-template" id="NewVersioNModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Une nouvelle version de RedCrossQuest est disponible 🎉 !</h3>
  </div>
  <div class="modal-body">

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="alert alert-info" role="alert"><b>Quelques infos sur la nouvelle version</b></div>


      <div class="panel-body">
        Cette nouvelle version comporte <i>notamment</i> les changements suivants :<br/><br/>
        <ng-bind-html
          ng-bind-html="versionInfo.deployNotes">
        </ng-bind-html>
        <br/>
        Pour plus d'informations, voir &nbsp;<a ng-href="/#!/changelog"><span class="glyphicon glyphicon-info-sign big-icon"  aria-hidden="true"></span> les notes de versions</a>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="reload()">Recharger la page</button>
    <button class="btn btn-primary" type="button" ng-click="cancel()">Pas tout de suite</button>
  </div>
</script>
