<acme-navbar></acme-navbar>


<div class="container">


  <div class="container" data-ng-controller="DailyStatsController as ds">

    <div class="panel panel-primary">
      <div class="panel-heading">Résultats Journalier (avant l'utilisation de RedCrossQuest)</div>
    </div>
    <div class="well">
      <form class="form-search form-inline" name="searchForm" novalidate ng-submit='ds.doSearch();'>
        <div class="row">

          <div class="form-group col-md-4 col-md-offset-3">
            <label for="year" class="control-label">Année de Quête</label>

            <select name="year" id="year" class="form-control" ng-model="ds.selectedYear" required
                    ng-options="i as i
                     for
                     i in ds.years">
              <option> </option>
            </select>


          </div>
          <div class="col-md-4">
            <input type="submit" class="btn btn-primary" value="Rechercher" ng-click="ds.doSearch()"/>
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2" ng-show="ds.list.length>0">

        <table class="table .table-striped .table-hover .table-condensed">
          <thead>
            <th>id</th>
            <th style="width:70px;">Date</th>
            <th>Montant</th>
            <th>&nbsp;</th>
          </thead>
          <tbody data-ng-repeat="dailyStats in ds.list">
            <tr>
              <td>{{::dailyStats.id}}</td>
              <td style="width:70px;"><input name="tobedone" id="horaireDepartTheorique" type="date" class="form-control" ng-model="dailyStats.date" ng-readonly="true"/></td>
              <td><input name="amount" id="amount" type="number" class="form-control" ng-model="dailyStats.amount" required/></td>
              <td><button type="button" ng-model="singleModel" class="btn btn-primary" uib-btn-checkbox ng-click="ds.save(dailyStats.id, dailyStats.amount);">Sauvegarder</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row" ng-show="ds.list.length == 0 && ds.searchedYear == ds.selectedYear">
      <div class="col-md-2 col-md-offset-5">
        <input type="submit" class="btn btn-primary" value="Créer l'année {{ds.selectedYear}}" ng-click="ds.createYear(ds.selectedYear)"/>
      </div>
    </div>


  </div>
</div>

