<acme-navbar></acme-navbar>
<div class="container">
  <div class="container">

    <div class="panel panel-primary">
      <div class="panel-heading">Résultats Journalier<br/>(avant l'utilisation de RedCrossQuest)</div>
    </div>
    <div class="well">
      <form class="form-search form-inline" name="searchForm" novalidate ng-submit='ds.doSearch();'>
        <div class="row">

          <div class="form-group col-md-4 col-md-offset-3">
            <label for="year" class="control-label">Année de Quête</label>

            <select name="year" id="year" class="form-control" ng-model="ds.selectedYear" required
                    ng-options="i as i
                     for
                     i in ds.years">
              <option> </option>
            </select>


          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-primary" ng-click="ds.doSearch()">Rechercher</button>
          </div>
        </div>
      </form>
    </div>

    <div class="row" ng-show="ds.list.length>0 && ds.searchedYear == ds.selectedYear">
      <div class="col-md-10 col-md-offset-1" >
        <form name="dailyStatForms">
          <table class="table .table-striped .table-hover .table-condensed">
            <thead>
              <th class="visible-lg-inline-block">id</th>
              <th style="vertical-align: top;text-align: center;">Date</th>
              <th style="vertical-align: top;text-align: center;">Montant</th>
              <th style="vertical-align: top;text-align: center;">Nombre de bénévole</th>
              <th style="vertical-align: top;text-align: center;">Nombre de bénévole d'un Jour</th>
              <th style="vertical-align: top;text-align: center;">Nombre d'heures de quête cumulées</th>
              <th>&nbsp;</th>
            </thead>
            <tbody data-ng-repeat="dailyStats in ds.list">
              <tr>
                <td class="visible visible-lg-inline-block">{{::dailyStats.id}}</td>
                <td><input name="stateDate_{{::dailyStats.id}}" id="statDate_{{::dailyStats.id}}" type="date" class="form-control" ng-model="dailyStats.date" ng-readonly="true"/></td>
                <td>
                  <div class="input-group" ng-class="{'has-error':dailyStatForms['amount_'+dailyStats.id].$invalid}">
                    <input style="min-width: 82px!important;" name="amount_{{::dailyStats.id}}" id="amount_{{::dailyStats.id}}" type="number" class="form-control" ng-model="dailyStats.amount" required autocomplete="off"/><span class="input-group-addon">€</span>
                  </div>
                </td>
                <td>
                  <div class="input-group" ng-class="{'has-error':dailyStatForms['nb_benevole_'+dailyStats.id].$invalid}">
                    <input style="min-width: 82px!important;" name="nb_benevole_{{::dailyStats.id}}" id="nb_benevole_{{::dailyStats.id}}" type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" ng-model="dailyStats.nb_benevole" required autocomplete="off"/><span class="input-group-addon glyphicon glyphicon-person-walking"  aria-hidden="true" style="top:0px; color: red;"></span>
                  </div>
                </td>
                <td>
                  <div class="input-group" ng-class="{'has-error':dailyStatForms['nb_benevole_1j_'+dailyStats.id].$invalid}">
                    <input style="min-width: 82px!important;" name="nb_benevole_1j_{{::dailyStats.id}}" id="nb_benevole_1j_{{::dailyStats.id}}" type="number"  ng-pattern="/^[0-9]{1,7}$/"  class="form-control" ng-model="dailyStats.nb_benevole_1j" required autocomplete="off"/><span class="input-group-addon glyphicon glyphicon-person-walking"  aria-hidden="true" style="top:0px; color: blue;"></span>
                  </div>
                </td>
                <td>
                  <div class="input-group" ng-class="{'has-error':dailyStatForms['nb_heure_'+dailyStats.id].$invalid}">
                    <input style="min-width: 82px!important;" name="nb_heure_{{::dailyStats.id}}" id="nb_heure_{{::dailyStats.id}}" type="number" ng-pattern="/^[0-9]{1,7}$/" class="form-control" ng-model="dailyStats.nb_heure" required autocomplete="off"/><span class="input-group-addon glyphicon glyphicon-clock"  aria-hidden="true" style="top:0px;"></span>
                  </div>
                </td>
                <td><button type="button" ng-model="singleModel" class="btn btn-primary" uib-btn-checkbox ng-click="ds.save(dailyStats.id, dailyStats.amount, dailyStats.nb_benevole, dailyStats.nb_benevole_1j, dailyStats.nb_heure);"><span class="glyphicon glyphicon-floppy-disk"  aria-hidden="true"></span></button></td>
              </tr>
            </tbody>
            <tfoot>
            <td></td>
            <td style="text-align:right;">Total</td>
            <th>{{ds.computeTotal()| currency : "€" : 2}}</th>
            <td></td>
            </tfoot>
          </table>
        </form>
      </div>
    </div>
    <div ng-show="ds.list.length>0 && ds.searchedYear == ds.selectedYear" class="row">
      <div class="col-md-9 col-md-offset-1">
        <b>Vous ne connaissez pas le détail par année, mais vous avez le montant total de la quête de l'année {{ds.selectedYear}} ?</b><br/>
        Indiquez le montant de l'année {{ds.selectedYear}} ci-dessous et cliquez sur le bouton pour répartir automatiquement le montant et <b>sauvegarder</b><br/>
        <br/><br/>
      </div>
    </div>
    <div ng-show="ds.list.length>0 && ds.searchedYear == ds.selectedYear" class="row">
      <div  class="col-md-2 col-md-offset-4">
        <form name="repartitionForm">
          <div class="input-group" ng-class="{'has-error':repartitionForm.totalAmount.$invalid}">
            <input name="totalAmount" id="totalAmount" type="number" class="form-control" ng-model="ds.totalAmount"/><span class="input-group-addon">€</span>
          </div>
        </form>
      </div>
      <div  class="col-md-2">
        <button  type="button" class="btn btn-primary" ng-click="ds.repartition();">Répartir le montant annuel</button>
      </div>
    </div>

    <div class="row" ng-show="ds.list.length == 0 && ds.searchedYear == ds.selectedYear">
      <div class="col-md-2 col-md-offset-5">
        <input type="submit" class="btn btn-primary" value="Créer l'année {{ds.selectedYear}}" ng-disabled="ds.saveInProgress" ng-click="ds.createYear(ds.selectedYear)"/>
      </div>
    </div>

    <div class="row" ng-show="ds.searchedYear != ds.selectedYear" ng-cloak>
      <div class="col-md-8 col-md-offset-2">
        <b>Cliquer sur Rechercher pour voir les données de l'année sélectionnée.<br/></b>
        Si un bouton "Créer l'année XXXX" apparait, cela veut dire que vous n'avez pas encore saisie de données pour l'année sélectionner.

      </div>
    </div>


  </div>
</div>

