
<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

<div class="container" data-ng-controller="TroncEditController as tronc">

  <div class="panel panel-primary">
    <div class="panel-heading">Un Tronc:  <b><span ng-bind="tronc.current.id"></span></b></div>
  </div>

  <div class="col-xs-12">
    <div class="well">
      <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
          <form novalidate ng-submit='tronc.save();' name="troncForm">


            <div class="form-group" ng-class="{'has-error':troncForm.enabled.$invalid}">
              <label for="enabled" class="control-label">Actif</label>
              <input name="enabled" id="enabled" class="form-control" ng-model="tronc.current.enabled" required />
              <span class="help-block" ng-show="troncForm.enabled.$error.required">Required</span>
            </div>
            <div class="form-group" ng-show="tronc.current.id">
              <label for="created" class="control-label">Créé le</label>
              <input name="created" id="created" class="form-control" ng-model="tronc.current.created" readonly/>
            </div>
            <div class="form-group">
              <label for="secteur" class="control-label">Secteur</label>
              <select name="secteur" id="secteur" class="form-control" ng-model="tronc.current.secteur" required>
                <option value="1">Action Sociale</option>
                <option value="2">Secours</option>
                <option value="3">Hybride</option>
                <option value="4">Extérieur</option>
                <option value="5">Lycéen</option>
              </select>
            </div>

            <div class="form-group">
              <label for="parentAuthorization" class="control-label">Authorisation Parentale</label>
              <input type="file" name="parentAuthorization" id="parentAuthorization"/>
              <span class="help-block">Scanner l'autorisation parentale et ajouter le fichier ici</span>
            </div>

            <div class="form-group">
              <label for="temporaryVolunteerForm" class="control-label">Formulaire du Quêteur occasionel</label>
              <input type="file" name="temporaryVolunteerForm" id="temporaryVolunteerForm"/>
              <span class="help-block">Scanner le formulaire de bénévole occasionnel et ajouter le fichier ici</span>
            </div>

            <div class="form-group" ng-class="{'has-error':troncForm.mobile.$invalid}">
              <label for="mobile" class="control-label">Téléphone</label>
              <input name="mobile" id="mobile" class="form-control" ng-model="tronc.current.mobile" required ng-pattern="/^0[6-7][0-9]{8,8}$/" />
              <span class="help-block">Si le quêteur n'a pas de mobile, mettre le téléphone de son parrain</span>
              <span class="help-block" ng-show="troncForm.mobile.$error.pattern">Le format doit être 0601020304 ou 0601020304</span>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary" value="Save" ng-disabled="troncForm.$invalid" />
              <a ng-href="#/list" class="btn btn-link">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
</div>
