<acme-navbar></acme-navbar>
<div class="container">

  <div class="panel panel-primary">
    <div class="panel-heading" ng-show="tronc.current.id" ng-cloak>Un Tronc:  <b><span ng-bind="tronc.current.id"></span></b> crée le {{tronc.current.created}}</div>
    <div class="panel-heading" ng-show="!tronc.current.id" ng-cloak>Création de troncs</div>
  </div>
  <form novalidate  name="troncForm">

      <div class="well">
        <div class="row">
          <div class="col-md-3 col-md-offset-1">

            <div class="form-group" ng-class="{'has-error':troncForm.enabled.$invalid}">
              <label for="activeRadio1" class="control-label">Opérationnel pour la quête</label> <br/>
              <label class="radio-inline">
                <input type="radio" name="active" id="activeRadio1" ng-model="tronc.current.enabled" value="true"   required ng-checked="tronc.current.enabled===true"> Oui
              </label>
              <label class="radio-inline">
                <input type="radio" name="active" id="activeRadio2" ng-model="tronc.current.enabled" value="false" required ng-checked="tronc.current.enabled===false"> Non
              </label>
            </div>
          </div>


          <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error':troncForm.type.$invalid}">
              <label for="type" class="control-label">Type de tronc</label>
              <select name="type" id="type" class="form-control" ng-model="tronc.current.type" required
                      ng-options="(r.id) as r.label
                      for
                      r in tronc.typeTroncList"

              >
              </select>
            </div>
          </div>
          <div class="col-md-3" ng-show="!tronc.current.id && tronc.currentUserRole >=4" ng-cloak>
            <div class="form-group" ng-class="{'has-error':troncForm.nombreTronc.$invalid}">
              <label for="nombreTronc" class="control-label">Nombre de troncs à créer</label>
              <input type="number"
                       id="nombreTronc"
                     name="nombreTronc"
                     class="form-control"
                     min="!tronc.current.id && tronc.currentUserRole >=4?1:0"
                     max="50"
                     ng-model="tronc.current.nombreTronc"
                     autofocus
                     ng-required="!tronc.current.id"/>

              <span class="help-block" ng-show="troncForm.nombreTronc.$invalid">Le nombre de tronc doit être entre 1 et 50</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 col-md-offset-1">

            <div class="form-group">
              <label for="notes" class="control-label">Notes</label>
              <textarea rows="3" name="notes" id="notes" class="form-control" ng-model="tronc.current.notes"></textarea>
              <span class="help-block">Info sur le tronc, ex: Cassé, perdu, volé, Tronc du local, Tronc chez un commerçant</span>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
          <div class="col-md-2 col-md-offset-2">
            <a ng-href="/#!/troncs" class="btn btn-link">Annuler</a>
          </div>
          <div class="col-md-2 col-md-offset-8">
            <button type="button" class="btn btn-primary" ng-disabled="troncForm.$invalid || tronc.current.saveInProgress" ng-click='tronc.save();'>Sauvegarder</button>
          </div>
        </div>


        <div class="row" ng-show="tronc.savedSuccessfully">
          <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-success alert-dismissible" role="alert" style="text-align: center;">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="tronc.savedSuccessfully=false"><span aria-hidden="true">&times;</span></button>
              <strong>Bravo!</strong>

              <span ng-show="tronc.current.id" ng-cloak>Le tronc a été sauvegardé avec succès!</span>
              <span ng-show="!tronc.current.id" ng-cloak>Les {{tronc.current.nombreTronc}} troncs ont été sauvegardés avec succès!</span>
            </div>
          </div>
        </div>

        <div class="row" ng-show="tronc.errorWhileSaving">
          <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger alert-dismissible" role="alert" style="text-align: center;">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="tronc.errorWhileSaving=false"><span aria-hidden="true">&times;</span></button>
              <strong>Oouupps!</strong> Une erreur est survenue lors de la sauvegarde du Tronc!
              <pre style="text-align: left;">{{tronc.errorWhileSavingDetails}}</pre>
            </div>
          </div>
        </div>
      </div>
  </form>

  <div class="row" ng-show="tronc.current.id > 0" style="padding-top:20px;">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Listes des troncs ({{::tronc.current.troncs_queteur.length}})</div>

      <table class='table'>
        <thead>
        <tr>
          <th>ID (voir le {Tronc-Quêteur}</th>
          <th>Queteur (voir le Quêteur)</th>
          <th>Départ Théorique</th>
          <th>Départ</th>
          <th>Retour</th>
          <th>Durée(min)</th>
          <th>Point de Quête</th>
          <th>Montant</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="tq in tronc.current.troncs_queteur">
          <th><a ng-href="/#!/tronc_queteur/edit/{{::tq.id}}">{{::tq.id}}</a></th>
          <th><a ng-href="/#!/queteurs/edit/{{::tq.queteur_id}}">{{::tq.first_name}} {{::tq.last_name}}</a></th>
          <td>{{::tq.depart_theorique.toDate() | date : 'dd/MM/yyyy HH:mm:ss'}} </td>
          <td>{{::tq.depart.toDate()           | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{::tq.retour.toDate()           | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{::tq.duration.toFixed(2)}}</td>
          <td>{{tq.point_quete_id}} - {{tronc.pointQueteHash[tq.point_quete_id].name==null ?'Désactivé':tronc.pointQueteHash[tq.point_quete_id].name}}</td>
          <td>

            {{(
            tq.euro500 * 500 +
            tq.euro200 * 200 +
            tq.euro100 * 100 +
            tq.euro50  * 50  +
            tq.euro20  * 20  +
            tq.euro10  * 10  +
            tq.euro5   * 5   +
            tq.euro2   * 2   +
            tq.euro1   * 1   +
            tq.cents50 * 0.5 +
            tq.cents20 * 0.2 +
            tq.cents10 * 0.1 +
            tq.cents5  * 0.05+
            tq.cents2  * 0.02+
            tq.cent1   * 0.01+
            tq.don_cheque    +
            tq.don_creditcard
            ).toFixed(2)}}
            €
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
