<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-href="#/" style="color:#5AADBB;">
        <span class="glyphicon glyphicon-plus" style="font-weight:bolder;color:#E3001B;"></span> RedCrossQuest
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">

    <div class="col-md-offset-2 col-md-7">
      <h2>Bienvenue sur RedCrossQuest !</h2>
      <form name="loginForm" ng-submit="form.$valid && vm.login()" novalidate>


        <div class="form-group" ng-class="{ 'has-error': form.username.$invalid }">
          <label for="username">Nom d'utilisateur</label>
          <input type="text"
                 id="username"
                 name="username"
                 ng-pattern="'[1-9][0-9]{3,11}[A-Za-z]'"
                 class="form-control"
                 ng-model="vm.username"
                 required
                 autocomplete="username"
                 tabindex="1"
          />
          <span  class="help-block" >
            Le nom d'utilisateur est requis et <b>ne</b> doit <b>pas</b> commencer par des 0.
          </span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
          <label for="password">Mot de passe</label>
          <input type="password"
                   id="password"
                 name="password"
                class="form-control"
             ng-model="vm.password"
             required
         autocomplete="current-password"
             tabindex="2"
          />
          <div ng-messages="form.$submitted && form.password.$error" class="help-block">
            <div ng-message="required">Le mot de passe est requis</div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6" style="margin-bottom: 10px;">
              <button
                ng-disabled="vm.loading"
                      class="btn btn-default"
                   ng-click="vm.sendInit()"
                       type="button"
                   tabindex="4"
              >Réinitialiser mon mot de passe</button>
            </div>
            <div class="col-md-2 col-md-offset-4">
              <button
                ng-disabled="vm.loading || form.$invalid"
                      class="btn btn-primary"
                   ng-click="vm.login()"
                   tabindex="3">Connexion</button>
              <img ng-if="vm.loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" alt="loading" />
            </div>
          </div>
        </div>
        <div ng-if="vm.timeout" class="alert alert-danger" >Le serveur ne répond pas</div>
        <div ng-if="vm.error"   class="alert alert-danger" >{{vm.errorStr}}</div>
        <div ng-if="vm.success" class="alert alert-success">
          Si votre compte existe, un email va vous être envoyé avec un lien pour réinitialiser votre mot de passe.<br/>
          Ce lien est valable <strong>quatre heures</strong> !<br/>
          L'email va arriver dans une minute !<br/>
          <br/>
          <strong>Si vous ne recevez pas d'email, contactez l'administrateur de votre Unité Locale</strong>
        </div>
      </form>


    </div>
  </div>
  <div class="row" style="margin-top:50px;">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert" style="text-align: center;vertical-align: middle;">
        <span class="glyphicon glyphicon-message-in" style="color:#1ec402;font-size:40px;"></span> Votre <strong>Unité Locale</strong> n'est pas encore <strong>inscrite</strong> ?
        <a href="https://intranet.croix-rouge.fr/jcms/p2_8176193/fr/redcrossquest-votre-outil-de-gestion-de-la-quete-inscription?portal=p2_3891464" target="_blank">Consultez l'article de l'intranet ici</a>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:50px;">
    <div class="col-md-offset-2 col-md-7">
      <a class="navbar-brand" ng-href="#/">
        <span class="glyphicon glyphicon-plus" style="color:#E3001B;"></span> RedCrossQuest
      </a> <div style="margin-top:17px;">et le <b>R</b>èglement <b>G</b>énéral sur la <b>P</b>rotection des <b>d</b>onnées -> <a href="https://goo.gl/UpTLAK" target="_blank">Cliquez ici</a></div>
    </div>
  </div>
</div>
