<acme-navbar></acme-navbar>

<div class="container">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-2">
          <h5>Les Quêteurs</h5>
        </div>
        <div class="col-md-3 col-md-offset-7" style="text-align: right;">
          <a href="/#!/queteurs/edit" class="btn btn-info">
            Ajouter un Quêteur
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="well">
    <form class="form-search" name="searchForm" novalidate>
      <div class="row">

        <div class="col-md-4">
          <div class="form-group">
            <label for="recherche" class="control-label">Recherche </label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
              <input class="form-control" placeholder="Recherche" id="recherche" data-ng-model="q.search" autofocus>
            </div>
            <div data-ng-show="q.search">
              <span data-ng-pluralize
                    data-count="filteredContacts.length"
                    data-when="{'0': 'No contact', 'one': 'One contact', 'other': '{} contacts' }">
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-4">

          <div class="form-group">
            <label for="searchTypeRadio1" class="control-label">Type de Recherche :</label><br/>
            <label class="radio-inline">
              <input type="radio" name="searchType" id="searchTypeRadio1" ng-model="q.searchType" value="0" required ng-checked="q.searchType==0"> Tous
            </label>
            <label class="radio-inline">
              <input type="radio" name="searchType" id="searchTypeRadio2" ng-model="q.searchType" value="1" required> Non Parti
            </label>
            <label class="radio-inline">
              <input type="radio" name="searchType" id="searchTypeRadio3" ng-model="q.searchType" value="2" required> En train de quêter
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="secteur" class="control-label">Secteur</label>
            <select name="secteur" id="secteur" class="form-control" ng-model="q.secteur" required
                    ng-options="(r.id+'') as r.label
                    for
                    r in q.typeBenevoleList"

            >
            </select>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4">
          <br/><br/>
          Nombre de Bénévoles/Quêteur d'un jour: <span class="badge">{{q.rowCount}}</span>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="activeRadio1" class="control-label">Quêteur   Actif:</label><br/>
            <label class="radio-inline">
              <input type="radio" name="active" id="activeRadio1" ng-model="q.active" value="1" required ng-checked="q.active==1 || q.active == null"> Actif
            </label>
            <label class="radio-inline">
              <input type="radio" name="active" id="activeRadio2" ng-model="q.active" value="0" required> Inactif
            </label>
          </div>
        </div>
        <div class="col-md-1">
          <br/>
          <button type="button" class="btn btn-primary" ng-click="q.doSearch();">Rechercher</button>
        </div>
      </div>
      <div class="row" ng-show="q.currentUserRole>=4" ng-cloak style="padding-top:10px;margin-top: 10px;border-top:solid 1px silver">
        <div class="col-md-2">
          <strong>Section Admin</strong>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="rcqUserRadio1" class="control-label">Utilisateur RCQ ?</label><br/>
                <label class="radio-inline">
                  <input type="radio" name="rcqUserRadio" id="rcqUserRadio1" ng-model="q.rcqUser" value="1" required ng-checked="q.rcqUser==1"> Oui
                </label>
                <label class="radio-inline">
                  <input type="radio" name="rcqUserRadio" id="rcqUserRadio2" ng-model="q.rcqUser" value="0" required ng-checked="q.rcqUser==0"> Non
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="rcqUserActifRadio1" class="control-label">Utilisateur RCQ Actif?</label><br/>
                <label class="radio-inline">
                  <input type="radio" name="rcqUserActifRadio" id="rcqUserActifRadio1" ng-model="q.rcqUserActif" value="1" required ng-checked="q.rcqUserActif==1"> Oui
                </label>
                <label class="radio-inline">
                  <input type="radio" name="rcqUserActifRadio" id="rcqUserActifRadio2" ng-model="q.rcqUserActif" value="0" required ng-checked="q.rcqUserActif==0"> Non
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <label for="anonymization_token" class="control-label">Jeton d'Anonymisation</label>
            <input
              name="anonymization_token"
              id="anonymization_token"
              class="form-control"
              ng-model="q.anonymization_token"
              placeholder="Lors d'une recherche par token, les autres champs sont ignorés"
            />
            <span class="help-block">
              Lorsqu'une fiche d'un quêteur est anonymisée, il recoit un email avec un jeton <small>(ex: '0c0d1d14-5416-4a15-b011-1ad53213ccdb')</small>
              Vous pouvez retrouver cette fiche anonymisée, et la revaloriser avec les données du quêteur <strong>(sur sa demande)</strong> pour qu'il puisse
              retrouver ses statistiques des années précédentes
            </span>
          </div>
        </div>
      </div>

      <div class="row" ng-show="q.currentUserRole==9">
        <div class="col-md-2">
          <strong>Section Super Admin</strong>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="ulId" class="control-label">Unité Locale</label>
            <input
              id="ulId"
              type="text"
              ng-model="q.admin_ul"
              placeholder="Tappez votre recherche"
              uib-typeahead="ul as ul.full_name for ul in q.searchUL($viewValue)"
              typeahead-loading="loadingULs"
              typeahead-no-results="noResults"
              typeahead-wait-ms="350"
              class="form-control"
              ng-required
              autocomplete="off">
            <i   ng-show="loadingULs" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noResults">
              <i class="glyphicon glyphicon-remove"></i> Aucune Unité Locale trouvée
            </div>
            <span class="help-block">Recherche par nom, code postal, ville</span>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="text-align:center;">
      <ul uib-pagination ng-change="q.doSearch()" boundary-links="true" total-items="q.rowCount" ng-model="q.pageNumber" items-per-page="30" max-size="10" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
    </div>
  </div>
  <div clas="row">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th>NIVOL           </th>
        <th>secteur         </th>
        <th>Prénom          </th>
        <th>Nom             </th>
        <th>Email           </th>
        <th>Téléphone       </th>
        <th>Point de Quête  </th>
        <th>Status          </th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="queteur in q.list">
        <td><a ng-href="/#!/queteurs/edit/{{::queteur.id}}">{{::queteur.nivol}}</a></td>
        <td>{{q.typeBenevoleHash[queteur.secteur]}}</td>
        <td><a ng-href="/#!/queteurs/edit/{{::queteur.id}}">{{::queteur.first_name}}</a></td>
        <td><a ng-href="/#!/queteurs/edit/{{::queteur.id}}">{{::queteur.last_name | uppercase}}</a></td>

        <td><a ng-href="mailto:{{::queteur.email}}">{{::queteur.email}}</a></td>
        <td ng-show="queteur.mobile!='N/A'">{{::queteur.mobile}}<a ng-href="tel:{{::queteur.mobile}}"><span class="glyphicon glyphicon-iphone"></span></a> <a ng-href="sms:{{::queteur.mobile}}"><span class="glyphicon glyphicon-sms"></span></a></td>
        <td ng-show="queteur.mobile=='N/A'">&nbsp;</td>
        <td>{{::queteur.point_quete_name}}</td>
        <td>
          <span ng-show=" queteur.depart_theorique && !queteur.retour && !queteur.depart" class="glyphicon glyphicon-home"        aria-hidden="true" style="height: 20px!important;color:darkblue" tooltip-popup-close-delay='1000' uib-tooltip='Pas encore parti, départ théorique à {{::queteur.depart_theorique}}'></span>
          <span ng-show="!queteur.retour           &&  queteur.depart"                    class="glyphicon glyphicon-coins"       aria-hidden="true" style="height: 20px!important;color:gold"     tooltip-popup-close-delay='1000' uib-tooltip='En train de quêter, départ à {{::queteur.depart}}'></span>
          <span ng-show=" queteur.depart_theorique &&  queteur.retour &&  queteur.depart" class="glyphicon glyphicon-thumbs-up"   aria-hidden="true" style="height: 20px!important;color:purple"   tooltip-popup-close-delay='1000' uib-tooltip='Rentré de quête à {{::queteur.retour }}'></span>
          <span ng-show="!queteur.depart_theorique && !queteur.retour && !queteur.depart" class="glyphicon glyphicon-remove-sign" aria-hidden="true" style="height: 20px!important;color:grey"     tooltip-popup-close-delay='1000' uib-tooltip="Pas actif aujourd'hui"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="text-align:center;">
      <ul uib-pagination ng-change="q.doSearch()" boundary-links="true" total-items="q.rowCount" ng-model="q.pageNumber" items-per-page="30"  max-size="10" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
    </div>
  </div>
</div>
